.actions-by-category {
	margin-bottom: 80rem;
	.section__subtitle {
		margin-bottom: 24rem;
	}
	.one-line {
		display: flex;
		gap: 24rem;

		.mobile {
			display: none;
		}

		.nice-select {
			width: 233rem;
		}
	}
	.statistics-box {
		.section__title {
			font-weight: 500;
			font-size: 24rem;
			line-height: 130%;
		}
	}
}
#actions-by-category__funnel-chart {
	width: 100%;
	height: 444rem;
}
#actions-by-category__donut-chart, #client_portrait__donut-chart-one, #client_portrait__donut-chart-two {
	width: 100%;
	height: 400rem;
}
#client_portrait__column-one, #client_portrait__column-two {
	width: 100%;
	height: 400rem;
}

@include mobile {
	.actions-by-category {
		margin-bottom: 120rem;
		.section__subtitle {
			margin-bottom: 24rem;
		}
		.one-line {
			display: flex;
			gap: 24rem;

			.mobile {
				display: flex;
			}
			.desc {
				display: none;
			}
			.form__item {
				flex: 1;
			}

			.nice-select {
				width: 100%;
			}
		}
		.statistics-box {
			width: 355rem;
		}
		.statistics-box {
			.section__title {
				font-weight: 500;
				font-size: 20rem;
				line-height: 130%;
			}
		}
	}
	#actions-by-category__funnel-chart {
		width: 100%;
		height: 444rem;
	}
	#actions-by-category__donut-chart, #client_portrait__donut-chart-one, #client_portrait__donut-chart-two {
		width: 100%;
		height: 500rem;
	}
}
