.actions-by-category {
	margin-bottom: 80rem;
	.section__subtitle {
		margin-bottom: 24rem;
	}
	.one-line {
		display: flex;
		gap: 24rem;

		.nice-select {
			width: 233rem;
		}
	}
	#actions-by-category__funnel-chart {
		width: 100%;
		height: 444rem;
	}
	#actions-by-category__donut-chart {
		width: 100%;
		height: 400rem;
	}
}
