.advantages {
	padding: 110rem 0 113rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__suptitle {
		margin-bottom: 6rem;
		text-align: center;
		color: #fff;
	}

	.section__title {
		margin-bottom: 52rem;
		text-align: center;
		color: #fff;
	}

	&__inner {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		grid-gap: 32rem 60rem;
		margin: 0 auto;
		max-width: 1390rem;
	}

}

.advantage {
	display: flex;
	background-color: $main_bg;
	border-radius: 5rem;
	overflow: hidden;

	&:nth-child(3) {
		grid-column: 2;
		grid-row: 1;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 156rem;
		background-color: #BBCBD0;

		img {
			width: 55rem;
			height: 55rem;
			object-fit: contain;
		}
	}

	&__inner {
		padding: 20rem 20rem 21rem 28rem;
	}

	&__title {
		margin-bottom: 16rem;
		font-size: 24rem;
		line-height: 130%;
	}

	&__list {
		padding-left: 20rem;
		color: #737373;

		li {
			list-style-type: disc;

			&:not(:last-child) {
				margin-bottom: 8rem;
			}

			&::marker {
				font-size: 14rem;
			}
		}
	}
}

@include mobile {
	.advantages {
		padding: 40rem 0 40rem;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&__suptitle {
			margin-bottom: 4rem;
			font-size: 13rem;
			line-height: 150%;
		}

		.section__title {
			margin-bottom: 32rem;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			gap: 13rem;
			margin: 0 auto;
			max-width: 1390rem;
		}

	}

	.advantage {
		display: flex;
		background-color: $main_bg;
		border-radius: 5rem;
		overflow: hidden;
		position: relative;

		&__icon {
			display: flex;
			position: absolute;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 39rem;
			height: 36rem;
			background-color: #BBCBD0;
			top: 15rem;
    		left: 20rem;
			border-radius: 5rem;

			img {
				width: 30rem;
				height: 30rem;
				object-fit: contain;
				margin-left: 5rem;
    			margin-top: 4rem;
			}
		}

		&__inner {
			padding: 20rem;
		}

		&__title {
			margin-bottom: 20rem;
			font-size: 15rem;
			line-height: 130%;
			margin-left: 54rem;
		}

		&__list {
			padding-left: 20rem;
			color: #737373;
			font-size: 13rem;
			line-height: 150%;

			li {
				list-style-type: disc;

				&:not(:last-child) {
					margin-bottom: 8rem;
				}

				&::marker {
					font-size: 14rem;
				}
			}
		}
	}
}
