
.banner {
	margin-top: 76rem;
	margin-bottom: 161rem;
	padding: 41rem 0 54rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&__title {
		max-width: 850rem;
		margin-bottom: 32rem;
		font-size: 55rem;
		line-height: 60rem;
		font-weight: 700;
		color: #fff;

		span {
			font-size: 50rem;
			font-weight: 300;
		}
	}

	&__subtitle {
		max-width: 310rem;
		color: #fff;
	}

	&__info {
		margin-top: -28rem;
		margin-bottom: 30rem;
		text-align: right;
		color: #fff;

		strong,
		span,
		b {
			font-size: 32rem;
			line-height: 39rem;

			color: #fff;
		}
	}

}
