
.banner {
	margin-top: 76rem;
	margin-bottom: 161rem;
	padding: 41rem 0 54rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&__title {
		max-width: 850rem;
		margin-bottom: 32rem;
		font-size: 55rem;
		line-height: 60rem;
		font-weight: 700;
		color: #fff;

		span {
			font-size: 50rem;
			font-weight: 300;
		}
	}

	&__subtitle {
		max-width: 310rem;
		color: #fff;
	}

	&__info {
		margin-top: -28rem;
		margin-bottom: 30rem;
		text-align: right;
		color: #fff;

		strong,
		span,
		b {
			font-size: 32rem;
			line-height: 39rem;

			color: #fff;
		}
	}
	&__inner {
		position: relative;
		z-index: 3;
	}

}
.banner-search__container {
	display: flex;
	width: 727rem;
	justify-content: space-between;
}
.head-search-help.baner-search {
	top: 65rem;
	left: unset;
}
@include mobile {
	.banner {
		margin-top: 34rem;
		margin-bottom: 124rem;
		padding: 68rem 0 68rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&__title {
			max-width: 850rem;
			margin-bottom: 20rem;
			font-size: 30rem;
			line-height: 36rem;
			font-weight: 700;
			color: #fff;

			span {
				font-size: 30rem;
				font-weight: 300;
			}
		}

		&__subtitle {
			max-width: 310rem;
			color: #fff;
			margin-bottom: 32rem;
		}

		&__info {
			margin-top: 0;
			margin-bottom: 32rem;
			text-align: initial;
			color: #fff;

			strong,
			span,
			b {
				font-size: 20rem;
				line-height: 24rem;

				color: #fff;
			}
		}

	}
	.banner-search__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		overflow: auto;
	}
	.head-search-help.baner-search {
		width: 100%;
		top: 130rem;
	}
	.head-search-left, .head-search-right {
		width: 100%;
		overflow-y: unset;
	}
}
