.catalog {
	padding-top: 73rem;

	.section__title {
		margin-bottom: 44rem;
	}

	.section__subtitle {
		margin-bottom: 34rem;
	}

	.lines {
		top: 405rem;
	}

}


.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30rem;
	grid-row-gap: 27rem;

}

.card {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 0 23rem 28rem;

	background: rgba(255, 255, 255, 0.2);
	box-shadow: -15rem -15rem 40rem rgba(255, 255, 255, 0.5), 15rem 15rem 40rem rgba(139, 168, 189, 0.15);
	backdrop-filter: blur(5rem);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 5rem;

	&__img {
		width: 357px;
		height: 226px;
		margin-left: -23rem;
		margin-right: -23rem;
		padding-top: 1rem;
		padding-right: 1rem;
		margin-bottom: 28rem;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-bottom: 14rem;
		font-size: 24rem;
		line-height: 31rem;
	}

	&__props {
		margin-bottom: 28rem;
	}

	&__prop {
		color: #686666;

		+.card__prop {
			margin-top: 5rem;
		}

	}

	&__btn {
		margin-top: auto;
	}
}