.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	background-color: rgba($main_bg, .95);

	+ * {
		margin-top: 158rem;
	}

	&__top {
		display: flex;
		align-items: center;
		padding: 24rem 0 18rem;
	}
	
	.logo {
		margin-right: 48rem;
	}

	&__links {
		display: flex;
		align-items: center;
		margin-left: auto;
		font-size: 20rem;

		> *:not(:last-child) {
			margin-right: 32rem;
		}
	}

	&__setup {
		display: flex;
		align-items: center;

		.icon:not(:last-child) {
			margin-right: 16rem;
		}
	}

	.feedback {
		margin: 0 40rem;
	}

	&__bottom {
		display: flex;
		align-items: center;
		padding: 10rem 0;
		border: 2rem solid #fff;
		border-left: none;
		border-right: none;
	}

}

.drop {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 40rem 0;
	background-color: $main_bg;

	&__title {
		display: inline-block;
		margin-bottom: 24rem;
	}
}

.nav {
	margin-right: 110rem;
	font-size: 20rem;

	&__list {
		display: flex;
		align-items: center;

		&_drop {
			display: flex;
			color: #686666;

			li {
				flex-grow: 1;
				max-width: 220rem;

				&:not(:last-child) {
					margin-right: 35rem;
				}
			}
		}
	}

	&__item {
		user-select: none;

		&:not(:last-child) {
			margin-right: 120rem;
		}

		.drop_btn {
			position: relative;
			padding-right: 26rem;
			// Arrow
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 4rem;
				display: block;
				width: 10rem;
				height: 10rem;
				margin-top: -5rem;
				border: 2rem solid $color_black;
				border-top: none;
				border-left: none;
				pointer-events: none;
				transform-origin: 66% 66%;
				transform: rotate(45deg);
				transition: all 0.15s ease-in-out;
			}

		}

		&.active {
			.drop_btn::after {
				transform: rotate(-135deg);
			}
		}
	}

}

.search_open {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40rem;
	height: 40rem;
	padding: 8rem;
	background: none;
	border: none;
}