.help {

	&.about-us {
		.help__inner {
			width: 1046rem;
			padding: 76rem 55rem 0;
		}
		.section__title {
			margin-right: auto;
		}
		.help__text {
			font-size: 23rem;
			font-style: normal;
			font-weight: 500;
			line-height: 130%;
			color: #999;
			margin-bottom: 16rem;
		}
	}
	&__img {
		position: relative;
		border-radius: 5rem;
		overflow: hidden;
		z-index: 0;
		height: 480rem;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1014rem;
		margin: -182rem auto 0;
		padding-top: 76rem;
		background-color: #F0F4F6;
		border-radius: 5rem;
		z-index: 2;
	}

	.section__title {
		margin-bottom: 31rem;
	}

	&__subtitle {
		margin-bottom: 41rem;
		color: #999;
	}

	&__btns {
		display: flex;
		align-items: center;

		.btn:not(:last-child) {
			margin-right: 28rem;
		}
	}

}

@include mobile {
	.help {

		&.about-us {
			.help__inner {
				width: auto;
				padding: 24rem 20rem 0;
			}
			.help__text {
				font-size: 15rem;
				margin-bottom: 8rem;
			}
		}

		.container {
			padding: 0;
		}

		&__img {
			position: relative;
			border-radius: 5rem;
			overflow: hidden;
			height: 174rem;

			img {
				max-width: 185%;
				position: absolute;
    			right: -45%;
			}
		}

		&__inner {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 88%;
			max-width: 330rem;
			margin: -84rem auto 0;
			padding-top: 28rem;
			background-color: #F0F4F6;
			border-radius: 5rem;
			z-index: 2;
		}

		.section__title {
			margin-bottom: 8rem;
		}

		&__subtitle {
			margin-bottom: 32rem;
			color: #999;
			font-size: 13rem;
			line-height: 150%;
		}

		&__btns {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 12rem;

			.btn:not(:last-child) {
				margin-right: 0;
			}
		}

	}
}
