.help {

	&__img {
		position: relative;
		border-radius: 5rem;
		overflow: hidden;
		z-index: 0;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1014rem;
		margin: -182rem auto 0;
		padding-top: 76rem;
		background-color: #F0F4F6;
		border-radius: 5rem;
		z-index: 2;
	}

	.section__title {
		margin-bottom: 31rem;
	}

	&__subtitle {
		margin-bottom: 41rem;
		color: #999;
	}

	&__btns {
		display: flex;
		align-items: center;

		.btn:not(:last-child) {
			margin-right: 28rem;
		}
	}

}