.section_login {
	padding: 80rem 0 10rem;

	.section__title {
		margin-bottom: 28rem;
	}

	.section__subtitle {
		max-width: 805rem;
		margin-bottom: 40rem;
		font-size: 20px;
		line-height: 150%;
		color: #999;
	}
}