// Default variables
$font_size: 14rem !default;
$font_size_small: 12rem !default;

$input_border_radius: 5rem !default;
$input_height: 42rem !default;
$input_height_small: 36rem !default;
$dropdown_padding: 18rem !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
.nice-select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: #fff;
	border-radius: $input_border_radius;
	border: solid 1px $gray_light;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: $font_size;
	font-weight: 500;
	height: $input_height;
	line-height: $input_height - 2;
	outline: none;
	padding-left: $dropdown_padding;
	padding-right: $dropdown_padding + 12;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	user-select: none;
	white-space: nowrap;
	width: auto;

	&:hover {
		border-color: darken($gray_light, 5%);
	}

	&:active,
	&:focus {
		border-color: $primary_light;
	}

	// Arrow
	&:after {
		border-bottom: 2rem solid $arrow_color;
		border-right: 2rem solid $arrow_color;
		content: '';
		display: block;
		height: 5rem;
		margin-top: -4rem;
		pointer-events: none;
		position: absolute;
		right: 12rem;
		top: 50%;
		transform-origin: 66% 66%;
		transform: rotate(45deg);
		transition: all 0.15s ease-in-out;
		width: 5rem;
	}

	&.open {
		@extend :active;

		&:after {
			transform: rotate(-135deg);
		}

		.list {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1) translateY(0);
		}
	}

	&.disabled {
		border-color: lighten($gray_light, 2%);
		color: $gray;
		pointer-events: none;

		&:after {
			border-color: lighten($arrow_color, 20%);
		}
	}

	// Modifiers
	&.wide {
		width: 100%;

		.list {
			left: 0 !important;
			right: 0 !important;
		}
	}

	&.right {
		float: right;

		.list {
			left: auto;
			right: 0;
		}
	}

	&.small {
		font-size: $font_size_small;
		height: $input_height_small;
		line-height: $input_height_small - 2;

		&:after {
			height: 4rem;
			width: 4rem;
		}

		.option {
			line-height: $input_height_small - 2;
			min-height: $input_height_small - 2;
		}
	}

	// List and options
	.list {
		background-color: #fff;
		border-radius: $input_border_radius;
		box-shadow: 0 0 0 1px rgba($gray_dark, .11);
		box-sizing: border-box;
		margin-top: 4rem;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		left: 0;
		transform-origin: 50% 0;
		transform: scale(.75) translateY(- $input_height / 2);
		transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
		z-index: 9;

		&:hover .option:not(:hover) {
			background-color: transparent !important;
		}
	}

	.option {
		cursor: pointer;
		font-weight: 500;
		line-height: $input_height - 2;
		list-style: none;
		min-height: $input_height - 2;
		outline: none;
		padding-left: $dropdown_padding;
		padding-right: $dropdown_padding + 11;
		text-align: left;
		transition: all 0.2s;

		&:hover,
		&.focus,
		&.selected.focus {
			background-color: $gray_lighter;
		}

		&.selected {
			font-weight: bold;
		}

		&.disabled {
			background-color: transparent;
			color: $gray;
			cursor: default;
		}
	}
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
	.list {
		display: none;
	}

	&.open {
		.list {
			display: block;
		}
	}
}


.nice-select {
	border: none;
	background: none;
	font-size: inherit;
	font-weight: inherit;

	&:after {
		border-color: $color_black;
		height: 10rem;
		margin-top: -7rem;
		right: 7rem;
		width: 10rem;
	}

	.list {
		border: none;
		border-left: 2rem solid #fff;
		overflow: hidden;
		background: #F5F8FA;
		box-shadow: -10rem -10rem 20rem rgba(255, 255, 255, 0.2), 10rem 10rem 10rem rgba(139, 168, 189, 0.05);
		border-radius: 5rem;

		&::after {
			content: '';
			pointer-events: none;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: -2rem;
			border-width: 2rem;
			border-style: solid;
			border-image: linear-gradient(to right,#fff,rgba(0, 0, 0, 0)) 1 1%;
			transition: 300ms;
		}
	}


}
.nice-select.head-category {
	.list {
		width: 335rem;
		height: 375rem;
		padding-top: 95rem;
		overflow-y: scroll;
		&::after {
			content: none;
		}
		&::-webkit-scrollbar {
			width: 2rem;
		}
		::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5rem grey;
			border-radius: 10rem;
		}
		&::-webkit-scrollbar-thumb {
			background: #181818;
			border-radius: 10rem;
		}
	}
	.nice-select-search {

	}
	.nice-select-search-box {
		display: block;
		&::after {
			content: '';
			background: url(../images/icons/search.svg) no-repeat;
			position: absolute;
			width: 24rem;
			height: 24rem;
			top: 10rem;
			left: 24rem;
			cursor: initial;
		}
	}
}
.nice-select .nice-select-search-box {
	margin-top: 16rem;
    margin-left: 16rem;
    width: 303rem;
	display: none;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
	background: #EFF3F6;
    opacity: 0;
    pointer-events: none;
    border-radius: 5rem;
    box-shadow: 0 0 0 1rem rgba(68, 88, 112, .11);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-21px);
    -ms-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out
}

.nice-select.open .nice-select-search-box {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0)
}
