.sample {
	&-container {
		&-img {
			display: flex;
			gap: 28rem;
			margin-bottom: 80rem;

			&-three {
				height: 420rem;
			}
			&-two {
				height: 480rem;
			}
		}
		&-text {
			width: 936rem;
			margin: 0 auto 80rem;
		}

	}
	&__img {
		flex: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__top {
		margin-bottom: 28rem;
		font-size: 32rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: #181818;
	}
	&__bottom {
		font-size: 24rem;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		color: #999;
		display: flex;
		flex-direction: column;
		gap: 16rem;
	}
}
@include mobile {

}
