.swiper {
	display: flex;
	flex-direction: column;
	margin-top: -50rem;

	&-slide {
		display: flex;
		flex-direction: column;
		height: auto;
	}
}

.swiper_control {
	display: flex;
	align-items: center;
	align-self: flex-end;
	margin-bottom: 67rem;

	.swiper-pagination {
		position: static;
		min-width: 54rem;
		text-align: right;
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: static;
		display: flex;
		align-items: center;
		width: 20rem;
		height: 20rem;
		margin: 0;

		&::after {
			content: '';
			width: 10rem;
			height: 10rem;
			border: 2rem solid $color_black;
			transform: rotate(45deg);

		}
	}

	.swiper-button-prev {
		margin-right: 20rem;

		&::after {
			content: '';
			width: 15rem;
			height: 15rem;
			border-top: none;
			border-right: none;
		}
	}

	.swiper-button-next {

		&::after {
			border-left: none;
			border-bottom: none;
		}
	}

}

.swiper_shadow {
	$padding: 27rem;
	$padding_bottom: 50rem;
	$padding_top: 50rem;
	padding: $padding;
	padding-bottom: $padding_bottom;
	padding-top: $padding_top;
	margin: -$padding;
	margin-bottom: -$padding_bottom;
	margin-top: -$padding_top;
	overflow: hidden;

	.swiper {
		overflow: visible;
	}

	// &.swiper_2slides {
	// 	.swiper-slide-next + .swiper-slide,
	// 	.swiper-slide-prev {
	// 		opacity: 0;
	// 	}
	// }

	// &.swiper_3slides {
	// 	.swiper-slide-next + .swiper-slide + .swiper-slide,
	// 	.swiper-slide-prev {
	// 		opacity: 0;
	// 	}
	// }

	// &.swiper_4slides {
	// 	.swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide,
	// 	.swiper-slide-prev {
	// 		opacity: 0;
	// 	}
	// }


}

.swiper_grid_container {
	$margin: 14rem;
	margin-top: 50rem;
	margin-left: -$margin;
	margin-right: -$margin;

	.slide {
		padding: $margin;
	}

	.swiper_control {
		margin-top: 26rem;
		margin-bottom: 0;
		margin-right: 20rem;
	}
}