.tags {
	margin-bottom: 40rem;

	&__top {
		position: relative;
		flex-grow: 1;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 4rem 24rem;
		font-weight: 500;
		background: #FBFBFB;
		box-shadow: 5rem 5rem 25rem rgba(153, 173, 187, 0.1);
		border-radius: 5rem;
		overflow: hidden;

		&::after {
			content: "";
			width: 10rem;
			height: 10rem;
			margin-top: -5rem;
			border: 2rem solid #201702;
			border-left: none;
			border-bottom: none;
			transform: rotate(135deg);
			transition: 300ms;
		}

		&.active {
			&::after {
				margin-top: 1rem;
				transform: rotate(-45deg);
			}
		}
	}

	&__status {
		height: 41rem;
		margin-left: auto;
		margin-right: 20rem;
		padding: 12rem 16rem 11rem;
		background: #7C9DA8;
		border-radius: 5rem;
		color: #fff;
		user-select: none;
	}

	&__bottom {
		display: none;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20rem;
		gap: 20rem;
	}
}

.tag {
	cursor: pointer;
	user-select: none;

	span {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10rem;
		border-radius: 5rem;
		background: #FBFBFB;
		box-shadow: 5rem 5rem 25rem rgba(153, 173, 187, 0.1);
		transition: 300ms;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 12rem;
			width: 11rem;
			height: 1rem;
			background: #fff;
			transform: translateY(-50%) rotate(45deg);
			opacity: 0;
			transition: 500ms;
		}

		&::after {
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	input:checked ~ span {
		background: #7C9DA8;
		color: #fff;
		padding-right: 29rem;

		&::before,
		&::after {
			opacity: 1;
		}
	}
}

@include mobile {
	.tags {
		margin-bottom: 12rem;

		&__top {
			position: relative;
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 15rem 16rem 15rem 20rem;
			font-weight: 500;
			background: #FBFBFB;
			box-shadow: 5rem 5rem 25rem rgba(153, 173, 187, 0.1);
			border-radius: 5rem;
			overflow: hidden;

			&::after {
				content: "";
				width: 10rem;
				height: 10rem;
				margin-top: -5rem;
				border: 2rem solid #201702;
				border-left: none;
				border-bottom: none;
				transform: rotate(135deg);
				transition: 300ms;
			}

			&.active {
				&::after {
					margin-top: 1rem;
					transform: rotate(-45deg);
				}
			}
		}

		&__status {
			display: none;
		}

		&__bottom {
			display: none;
		}

		&__wrap {
			display: flex;
			flex-wrap: wrap;
			margin-top: 20rem;
			gap: 20rem;
		}
	}

	.tag {
		cursor: pointer;
		user-select: none;

		span {
			position: relative;
			display: flex;
			align-items: center;
			padding: 10rem;
			border-radius: 5rem;
			background: #FBFBFB;
			box-shadow: 5rem 5rem 25rem rgba(153, 173, 187, 0.1);
			transition: 300ms;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 12rem;
				width: 11rem;
				height: 1rem;
				background: #fff;
				transform: translateY(-50%) rotate(45deg);
				opacity: 0;
				transition: 500ms;
			}

			&::after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}

		input:checked ~ span {
			background: #7C9DA8;
			color: #fff;
			padding-right: 29rem;

			&::before,
			&::after {
				opacity: 1;
			}
		}
	}
}
