.action-in-store
	.section__title Последние действия в магазине (по клиентам)
	.action-in-store__list
		.action-in-store__item
			.action-in-store__item-top.gradient_border
				.action-in-store__item-vendor-img
					img(src="images/vendors/vendor2.jpg" alt="")
				.text-box
					.action-in-store__item-company ООО «Милорада»
					.action-in-store__item-name Викторов Александр
				.action-in-store__item-status Статус: Покупатель
				.action-in-store__item-action Последнее действие: 01.01.23
				.action-in-store__item-online-status.online #[span.online Онлайн] #[span.offline Офлайн]

			.action-in-store__item-bottom
				.action-in-store__watch-list
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45

		.action-in-store__item
			.action-in-store__item-top.gradient_border
				.action-in-store__item-vendor-img
					img(src="images/vendors/vendor2.jpg" alt="")
				.text-box
					.action-in-store__item-company ООО «Милорада»
					.action-in-store__item-name Викторов Александр
				.action-in-store__item-status Статус: Покупатель
				.action-in-store__item-action Последнее действие: 01.01.23
				.action-in-store__item-online-status.offline #[span.online Онлайн] #[span.offline Офлайн]

			.action-in-store__item-bottom
				.action-in-store__watch-list
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45

		.action-in-store__item
			.action-in-store__item-top.gradient_border
				.action-in-store__item-vendor-img
					img(src="images/vendors/vendor2.jpg" alt="")
				.text-box
					.action-in-store__item-company ООО «Милорада»
					.action-in-store__item-name Викторов Александр
				.action-in-store__item-status Статус: Покупатель
				.action-in-store__item-action Последнее действие: 01.01.23
				.action-in-store__item-online-status.offline #[span.online Онлайн] #[span.offline Офлайн]

			.action-in-store__item-bottom
				.action-in-store__watch-list
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45

		.action-in-store__item
			.action-in-store__item-top.gradient_border
				.action-in-store__item-vendor-img
					img(src="images/vendors/vendor2.jpg" alt="")
				.text-box
					.action-in-store__item-company ООО «Милорада»
					.action-in-store__item-name Викторов Александр
				.action-in-store__item-status Статус: Покупатель
				.action-in-store__item-action Последнее действие: 01.01.23
				.action-in-store__item-online-status.online #[span.online Онлайн] #[span.offline Офлайн]

			.action-in-store__item-bottom
				.action-in-store__watch-list
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45
					.action-in-store__watch-item
						.action-in-store__watch-img
							img(src="images/cards/card02.jpg" alt="")
						.action-in-store__watch-name Молоко сухое цельное Denmilk Карамелизованное
						.text-box
							div Дата просмотра:
							.action-in-store__watch-date 01.02.23 в 16:45
						.text-box
							div Запрос документа:
							.action-in-store__watch-request 01.02.23 в 16:45


	.underline.down Показать еще
