section.section.advantages(style="background-image:url(images/advantages/advantages_bg.jpg)")
	.container
		.advantages__suptitle Крупнейший маркетплейс
		.section__title Наши преимущества
		.advantages__inner
			.advantage
				.advantage__icon
					img(src="images/advantages/adv_icon1.svg" alt="")
				.advantage__inner
					.advantage__title Актуальный каталог
					ul.advantage__list
						li Настраивайте поиск с помощью фильтров
						li Просматривайте и сравнивайте карточки продуктов
						li Добавляйте в избранное

			.advantage
				.advantage__icon
					img(src="images/advantages/adv_icon3.svg" alt="")
				.advantage__inner
					.advantage__title Быстрый доступ к информации
					ul.advantage__list
						li Запрашивайте образцы и документы

			.advantage
				.advantage__icon
					img(src="images/advantages/adv_icon2.svg" alt="")
				.advantage__inner
					.advantage__title Общайтесь напрямую
					ul.advantage__list
						li Получайте поддержку ведущих экспертов отрасли
						li Договаривайтесь о цене и поставках
						li Добавляйте в избранное

			.advantage
				.advantage__icon
					img(src="images/advantages/adv_icon4.svg" alt="")
				.advantage__inner
					.advantage__title Размещайте тех. задания
					ul.advantage__list
						li Получайте выгодные предложения
