section.banner(style="background-image:url(images/banner/banner_bg.jpg)")
	.container
		.banner__title
			span Маркетплейс
			|  материалов, инноваций и новых технологий
		.banner__subtitle: | Находите лучшие предложения #[br] или размещайте собственные позиции
		.banner__info
			span 1200+
			| позиций
		.banner__inner

			form.search
				.search__filter
					select(name="search")
						option(value="0" selected) Все категории
						option(value="1") Категория 1
						option(value="2") Категория 2
						option(value="3") Категория 3

				.search__inner
					label
						include ../svg/search_grey.svg
						input.banner__input(type="text" placeholder="Название ингредиента")
					button(type="submit")
						include ../svg/arrow.svg
					.head-search-help.baner-search
						.banner-search__container
							.head-search-left
								.head-search-container
									.head-search-title Молочные продукты
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
								.head-search-container
									.head-search-title Детское питание
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
										li: a(href="#") Овечье молоко
										li: a(href="#") Овечье молоко
								.head-search-container
									.head-search-title Молочные продукты
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
								.head-search-container
									.head-search-title Детское питание
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
										li: a(href="#") Овечье молоко
										li: a(href="#") Овечье молоко

							.head-search-right
								.head-search-container
									.head-search-title Поставщики
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
								.head-search-container
									.head-search-title Бренд
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
								.head-search-container
									.head-search-title Поставщики
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
								.head-search-container
									.head-search-title Бренд
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
