.sidebar.desck
	.sidebar-container
		button.sidebar__exit(type="button")
			include ../svg/cross.svg
		.sidebar__top
			.sidebar__img
				img(src="images/cabinet/profile_img.png" alt="profile_img")
			.sidebar__suptitle Компания
			.sidebar__title ООО «Милорада»

		.sidebar__items

			.item
				a.item__btn(href="#")
					.item__icon
						include ../svg/cabinet/award.svg
					.item__name Бренды
			.item
				a.item__btn(href="#")
					.item__icon
						include ../svg/cabinet/box.svg
					.item__name Продукты
					.item__number 13
			.item
				a.item__btn(href="#")
					.item__icon
						include ../svg/cabinet/document-text.svg
					.item__name Документы
					.item__number 13
			.item
				a.item__btn(href="#")
					.item__icon
						include ../svg/cabinet/profile_2user.svg
					.item__name Эксперты
			.item
				a.item__btn(href="#")
					.item__icon
						include ../svg/cabinet/lamp-on.svg
					.item__name Разработки
.card_product-footer
	.container
		a.card_product-footer-item.card_product-open-review(href="#")
			.card_product-footer-icon
				include ../svg/card_product-footer/house.svg
			.card_product-footer-name Обзор
		a.card_product-footer-item(href="#")
			.card_product-footer-icon
				include ../svg/card_product-footer/experiment.svg
			.card_product-footer-name Образцы
		a.card_product-footer-item(href="#")
			.card_product-footer-img
				img(src="images/vendors/vendor2.jpg" alt="")
		a.card_product-footer-item(href="#")
			.card_product-footer-icon
				include ../svg/card_product-footer/folder.svg
			.card_product-footer-name Запросы
		a.card_product-footer-item.card_product-open-search(href="#")
			.card_product-footer-icon
				include ../svg/card_product-footer/search.svg
			.card_product-footer-name Поиск
