section.section.catalog
	.lines
		img(src="images/lines.svg" alt="lines.svg")
	.container
		.section__title Напитки
		.section__subtitle Представлено 457 категорий

		.cards
			.card.gradient_border
				.card__img
					img(src="images/cards/card12.jpg" alt="")
				.card__title Безалкогольные напитки
				a.card__btn(href="#") Перейти

			.card.gradient_border
				.card__img
					img(src="images/cards/card13.jpg" alt="")
				.card__title Алкогольные
				a.card__btn(href="#") Перейти

			.card.gradient_border
				.card__img
					img(src="images/cards/card14.jpg" alt="")
				.card__title Газированные
				a.card__btn(href="#") Перейти

			.card.gradient_border
				.card__img
					img(src="images/cards/card15.jpg" alt="")
				.card__title Ферментированные
				a.card__btn(href="#") Перейти

			.card.gradient_border
				.card__img
					img(src="images/cards/card16.jpg" alt="")
				.card__title Энергетические
				a.card__btn(href="#") Перейти