section.section.catalog
	.lines
		img(src="images/lines.svg" alt="lines.svg")
	.container
		.section__title Продукты
		.section__subtitle Представлено 457 категорий

		.cards
			.card.gradient_border
				.card__img
					img(src="images/cards/card01.jpg" alt="")
				.card__title Молочные продукты
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card02.jpg" alt="")
				.card__title Снэки и злаки
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card03.jpg" alt="")
				.card__title Напитки
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card04.jpg" alt="")
				.card__title Кондитерские продукты
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card05.jpg" alt="")
				.card__title Детское питание
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card06.jpg" alt="")
				.card__title Плодово-овощные консервы
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Перейти

			.card.gradient_border
				.card__img
					img(src="images/cards/card07.jpg" alt="")
				.card__title Мороженое
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card08.jpg" alt="")
				.card__title Веган альтернативы
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card09.jpg" alt="")
				.card__title Мясные/рыбные консервы
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card10.jpg" alt="")
				.card__title Спортивное питание
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список

			.card.gradient_border
				.card__img
					img(src="images/cards/card11.jpg" alt="")
				.card__title Алкогольные напитки
				.card__props
					.card__prop Безалкогольные алкогольные
					.card__prop Алкогольные
					.card__prop Ферментированные
				a.underline.card__btn(href="#") Весь список
