header.header
	.container
		.header__top
			a(href="#").logo
				img(src="images/logo.png" alt="logo")
			form.localizer
				select(name="lang")
					option(value="ru" selected) Ru
					option(value="en") En

		.header__bottom