.header-blur
header.header
	.container
		.header__top
			a.logo(href="#")
				img(src="images/logo.svg" alt="logo")

			form.localizer
				select(name="lang")
					option(value="ru" selected) Ru
					option(value="en") En

			.header__links
				a(href="#") О нас
				a(href="#") Сотрудничество

			a.btn.feedback(type="button") Связаться с нами

			.header__setup
				a.icon(href="#")
					include ../svg/like.svg
				a.icon(href="#")
					include ../svg/note.svg
				a.icon(href="#")
					include ../svg/notif.svg
				a.icon(href="#")
					include ../svg/profile.svg

		.header__bottom
			nav.nav
				ul.nav__list
					li.nav__item: a(href="#") О проекте

					li.nav__item
						a.drop_btn(type="#") Материалы
						.drop
							.drop_content
								a.drop__title(href="#") Материалы
								ul.nav__list_drop
									li: a(href="#") Подраздел 1
									li: a(href="#") Подраздел 2
									li: a(href="#") Подраздел 3 с длинным названием
									li: a(href="#") Подраздел 4

					li.nav__item
						a.drop_btn(type="#") Инновации
						.drop
							.drop_content
								a.drop__title(href="#") Инновации
								ul.nav__list_drop
									li: a(href="#") Подраздел 1
									li: a(href="#") Подраздел 3 с длинным названием
									li: a(href="#") Подраздел 2
									li: a(href="#") Подраздел 4

					li.nav__item
						a.drop_btn(type="#") Технологии
						.drop
							.drop_content
								a.drop__title(href="#") Технологии
								ul.nav__list_drop
										li: a(href="#") Подраздел 3 с длинным названием
										li: a(href="#") Подраздел 1
										li: a(href="#") Подраздел 2
										li: a(href="#") Подраздел 4

					li.nav__item: a(href="#") Поставщики

			button.search_open(type="button")
				include ../svg/search.svg

		.search_wrap
			.search_container
				form.search
					.search__filter
						select.head-category(name="search")
							option(value="0" selected) Все категории
							option(value="1") Молочные продукты
							option(value="2") Снэки и злаки
							option(value="3") Напитки
							option(value="4") Детское питание
							option(value="5") Плодово-овощные консервы
							option(value="6") Мороженое
							option(value="7") Веган альтернативы

					.search__inner.head-search
						label
							include ../svg/search_grey.svg
							input.head-search-input(type="text" placeholder="Название ингредиента")
						button(type="submit")
							include ../svg/arrow.svg
						.head-search-help
							.head-search-left
								.head-search-container
									.head-search-title Молочные продукты
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
								.head-search-container
									.head-search-title Детское питание
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
										li: a(href="#") Овечье молоко
										li: a(href="#") Овечье молоко
								.head-search-container
									.head-search-title Молочные продукты
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
								.head-search-container
									.head-search-title Детское питание
									ul.head-search-list
										li: a(href="#") Молоко
										li: a(href="#") Верблюжье молоко
										li: a(href="#") Козье молоко
										li: a(href="#") Овечье молоко
										li: a(href="#") Овечье молоко

							.head-search-right
								.head-search-container
									.head-search-title Поставщики
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
								.head-search-container
									.head-search-title Бренд
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
								.head-search-container
									.head-search-title Поставщики
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
								.head-search-container
									.head-search-title Бренд
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада
									a(href="#").head-search-item
										.head-search-icon
											img(src="images/vendors/vendor1.png" alt="Милорада")
										.head-search-name Милорада


				button.search_close(type="button")
					include ../svg/cross.svg
