header.header
	.container
		.header__top
			a.logo(href="#")
				img(src="images/logo.png" alt="logo")

			form.localizer
				select(name="lang")
					option(value="ru" selected) Ru
					option(value="en") En

			.header__links
				a(href="#") О нас
				a(href="#") Сотрудничество

			a.btn.feedback(type="button") Связаться с нами

			.header__setup
				a.icon(href="#")
					include ../svg/like.svg
				a.icon(href="#")
					include ../svg/note.svg
				a.icon(href="#")
					include ../svg/notif.svg
				a.icon(href="#")
					include ../svg/profile.svg

		.header__bottom
			nav.nav
				ul.nav__list
					li.nav__item: a(href="#")  О проекте

					li.nav__item.nav__item_drop
						a(href="#")  Материалы
						ul.nav__list_drop
							li: a(href="#") Материалы 1
							li: a(href="#") Материалы 2
							li: a(href="#") Материалы 3
							li: a(href="#") Материалы 4

					li.nav__item.nav__item_drop
						a(href="#")  Инновации
						ul.nav__list_drop
							li: a(href="#") Инновации 1
							li: a(href="#") Инновации 2
							li: a(href="#") Инновации 3
							li: a(href="#") Инновации 4

					li.nav__item.nav__item_drop
						a(href="#")  Технологии
						ul.nav__list_drop
							li: a(href="#") Технологии 1
							li: a(href="#") Технологии 2
							li: a(href="#") Технологии 3
							li: a(href="#") Технологии 4

					li.nav__item: a(href="#")  Поставшики

			button.search_open(type="button")
				include ../svg/search.svg

