header.header
	.container
		.header__top
			a.logo(href="#")
				img(src="images/logo.svg" alt="logo")

			form.localizer
				select(name="lang")
					option(value="ru" selected) Ru
					option(value="en") En

			.header__links
				a(href="#") О нас
				a(href="#") Сотрудничество

			a.btn.feedback(type="button") Связаться с нами

			.header__setup
				a.icon(href="#")
					include ../svg/like.svg
				a.icon(href="#")
					include ../svg/note.svg
				a.icon(href="#")
					include ../svg/notif.svg
				a.icon(href="#")
					include ../svg/profile.svg

		.header__bottom
			nav.nav
				ul.nav__list
					li.nav__item: a(href="#") О проекте

					li.nav__item
						a.drop_btn(type="#") Материалы
						.drop
							.drop_content
								a.drop__title(href="#") Материалы
								ul.nav__list_drop
									li: a(href="#") Подраздел 1
									li: a(href="#") Подраздел 2
									li: a(href="#") Подраздел 3 с длинным названием
									li: a(href="#") Подраздел 4

					li.nav__item
						a.drop_btn(type="#") Инновации
						.drop
							.drop_content
								a.drop__title(href="#") Инновации
								ul.nav__list_drop
									li: a(href="#") Подраздел 1
									li: a(href="#") Подраздел 3 с длинным названием
									li: a(href="#") Подраздел 2
									li: a(href="#") Подраздел 4

					li.nav__item
						a.drop_btn(type="#") Технологии
						.drop
							.drop_content
								a.drop__title(href="#") Технологии
								ul.nav__list_drop
										li: a(href="#") Подраздел 3 с длинным названием
										li: a(href="#") Подраздел 1
										li: a(href="#") Подраздел 2
										li: a(href="#") Подраздел 4

					li.nav__item: a(href="#") Поставщики

			button.search_open(type="button")
				include ../svg/search.svg

