section.section.help
	.container
		.help__img
			img(src="images/help/help_bg.jpg" alt="help_bg")

		.help__inner
			.section__title Мы можем помочь:
			.help__subtitle От идеи к реализации
			.help__btns
				a.btn(href="#")
					| Найти ингредиент
					include ../svg/eye.svg
				a.btn(href="#")
					| Сотрудничайте с нами
					include ../svg/user.svg