.insights-my-store.number-of-actions
	.section__title Инсайты по моему магазину
	.section__subtitle Настройте фильтры для просмотра
	form.form__one
		.form__item
			select(name="")
				option Выбрано 3 класса
				option Выбрано 3 класса 2
				option Выбрано 3 класса 3
	.statistics-box.gradient_border
		.number-of-actions__head
			.section__title Кол-во просмотров по классам
			.form__item
				select(name="")
					option За последние 3 месяца
					option За последние 3 месяца 2
					option За последние 3 месяца 3
				.icon.gradient_border.blank
					include ../svg/idea.svg
		.number-of-actions__bottom
			#number-of-actions__multiple

		//- .number-of-actions__box
		//- 	.number-of-actions__month
		//- 		.number-of-actions__month-color
		//- 		.number-of-actions__month-name Ароматизаторы
		//- 		.number-of-actions__month-number 1 000
		//- 	.number-of-actions__month
		//- 		.number-of-actions__month-color
		//- 		.number-of-actions__month-name Эмульгаторы
		//- 		.number-of-actions__month-number 2 000
		//- 	.number-of-actions__month
		//- 		.number-of-actions__month-color
		//- 		.number-of-actions__month-name Стабилизаторы
		//- 		.number-of-actions__month-number 5 000

	.refresh-container
		.refresh-container-btn
			include ../svg/radix-icons_update.svg
			| Обновить
		span Последнее обновление в 12.30
