section.section.switcher.materials(style="background-image:url(images/materials/materials_bg.svg)")
	.container
		.section__top
			.section__title Материалы и технологии
			.switcher__control
				button.btn.switcher__btn.active(type="button") Материалы
				button.btn.switcher__btn(type="button") Технологии

		.switcher__container
			.switcher__content
				.swiper.swiper_tiles.swiper_materials.swiper_materials_1

					.swiper_control
						.swiper-button-prev
						.swiper-button-next
						.swiper-pagination

					.swiper-wrapper
						.swiper-slide
							.tiles
								.tile.tile_wide
									.tile__icon
										include ../svg/cake.svg
									.tile__title Продукты питания
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/status.svg
									.tile__title Корма для животных
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/square.svg
									.tile__title Функциональные ингредиенты
									.tile__info 120 товаров

						.swiper-slide
							.tiles
								.tile
									.tile__icon
										include ../svg/brush.svg
									.tile__title Косметика
									.tile__info 120 товаров

								.tile.tile_white_text(style="background-image:url(images/materials/tile_bg_1.jpg)")
									.tile__icon
										include ../svg/cardiogram.svg
									.tile__title Лекарства и БАДЫ
									.tile__info 120 товаров

								.tile.tile_wide
									.tile__icon
										include ../svg/driving.svg
									.tile__title Сельское хозяйство
									.tile__info 120 товаров

						.swiper-slide
							.tiles
								.tile
									.tile__icon
										include ../svg/status.svg
									.tile__title Корма для животных
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/square.svg
									.tile__title Функциональные ингредиенты
									.tile__info 120 товаров

								.tile.tile_wide
									.tile__icon
										include ../svg/cake.svg
									.tile__title Продукты питания
									.tile__info 120 товаров

						.swiper-slide
							.tiles
								.tile.tile_wide
									.tile__icon
										include ../svg/driving.svg
									.tile__title Сельское хозяйство
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/brush.svg
									.tile__title Косметика
									.tile__info 120 товаров

								.tile.tile_white_text(style="background-image:url(images/materials/tile_bg_1.jpg)")
									.tile__icon
										include ../svg/cardiogram.svg
									.tile__title Лекарства и БАДЫ
									.tile__info 120 товаров



			.switcher__content.switcher__content_hide
				.swiper.swiper_tiles.swiper_materials.swiper_materials_2

					.swiper_control
						.swiper-button-prev
						.swiper-button-next
						.swiper-pagination

					.swiper-wrapper
						.swiper-slide
							.tiles
								.tile
									.tile__icon
										include ../svg/status.svg
									.tile__title Корма для животных 2
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/square.svg
									.tile__title Функциональные ингредиенты 2
									.tile__info 120 товаров

								.tile.tile_wide
									.tile__icon
										include ../svg/cake.svg
									.tile__title Продукты питания 2
									.tile__info 120 товаров

						.swiper-slide
							.tiles
								.tile.tile_wide
									.tile__icon
										include ../svg/driving.svg
									.tile__title Сельское хозяйство 2
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/brush.svg
									.tile__title Косметика 2
									.tile__info 120 товаров

								.tile.tile_white_text(style="background-image:url(images/materials/tile_bg_1.jpg)")
									.tile__icon
										include ../svg/cardiogram.svg
									.tile__title Лекарства и БАДЫ 2
									.tile__info 120 товаров

						.swiper-slide
							.tiles
								.tile.tile_wide
									.tile__icon
										include ../svg/cake.svg
									.tile__title Продукты питания 2
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/status.svg
									.tile__title Корма для животных 2
									.tile__info 120 товаров

								.tile
									.tile__icon
										include ../svg/square.svg
									.tile__title Функциональные ингредиенты 2
									.tile__info 120 товаров

						.swiper-slide
							.tiles
								.tile
									.tile__icon
										include ../svg/brush.svg
									.tile__title Косметика 2
									.tile__info 120 товаров

								.tile.tile_white_text(style="background-image:url(images/materials/tile_bg_1.jpg)")
									.tile__icon
										include ../svg/cardiogram.svg
									.tile__title Лекарства и БАДЫ 2
									.tile__info 120 товаров

								.tile.tile_wide
									.tile__icon
										include ../svg/driving.svg
									.tile__title Сельское хозяйство 2
									.tile__info 120 товаров

