section.section.mission
	.container
		.mission__images
			.frame
				img(src="images/mission/mission1.jpg" alt="")
			.frame
				img(src="images/mission/mission2.jpg" alt="")

		.mission__inner
			.section__title Наша миссия
			.mission__text Мы верим, что простой и эффективный способ доступак информации о сырье и материалах, даст возможность производителям разрабатывать и совершенствовать продукты быстрее и эффективнее, а поставщикам уникальную возможность демонстрировать их конкурентные преимущества
