section.section.news
	.news__bg
		img(src="images/news/news_bg.jpg" alt="")

	.container
		.news__inner
			.news__top
				.section__suptitle Изучите полезные материалы
				.section__title Новости

			.swiper.swiper_news

				.swiper_control
					.swiper-button-prev
					.swiper-button-next
					.swiper-pagination

				.swiper-wrapper

					.swiper-slide
						.frame.single_news.gradient_border
							img(src="images/news/single_news.jpg" alt="")
							.frame__inner
								.single_news__title Производство ингредиентов на заказ

					.swiper-slide
						.frame.single_news.gradient_border
							img(src="images/news/single_news.jpg" alt="")
							.frame__inner
								.single_news__title Производство ингредиентов на заказ

					.swiper-slide
						.frame.single_news.gradient_border
							img(src="images/news/single_news.jpg" alt="")
							.frame__inner
								.single_news__title Производство ингредиентов на заказ

					.swiper-slide
						.frame.single_news.gradient_border
							img(src="images/news/single_news.jpg" alt="")
							.frame__inner
								.single_news__title Производство ингредиентов на заказ

					.swiper-slide
						.frame.single_news.gradient_border
							img(src="images/news/single_news.jpg" alt="")
							.frame__inner
								.single_news__title Производство ингредиентов на заказ
