.number-of-actions
	.statistics-box.gradient_border
		.number-of-actions__head
			.section__title Количество действий за 3 месяца
			.number-of-actions__months
				.number-of-actions__month
					.number-of-actions__month-color
					.number-of-actions__month-name Январь
				.number-of-actions__month
					.number-of-actions__month-color
					.number-of-actions__month-name Январь
				.number-of-actions__month
					.number-of-actions__month-color
					.number-of-actions__month-name Январь
			.form__item
				select(name="")
					option За последние 3 месяца
					option За последние 3 месяца 2
					option За последние 3 месяца 3
				.icon.gradient_border.blank
					include ../svg/idea.svg
		.number-of-actions__bottom
			#number-of-actions__graph

		//- .number-of-actions__box
		//- 	.number-of-actions__month
		//- 		.number-of-actions__month-color
		//- 		.number-of-actions__month-name Январь
		//- 		.number-of-actions__month-number 1 000
		//- 	.number-of-actions__month
		//- 		.number-of-actions__month-color
		//- 		.number-of-actions__month-name Февраль
		//- 		.number-of-actions__month-number 2 000
		//- 	.number-of-actions__month
		//- 		.number-of-actions__month-color
		//- 		.number-of-actions__month-name Март
		//- 		.number-of-actions__month-number 5 000

	.refresh-container
		.refresh-container-btn
			include ../svg/radix-icons_update.svg
			| Обновить
		span Последнее обновление в 12.30
