section.section.solutions
	.container
		.section__top
			.section__title Тренды и решения

		.swiper.swiper_solutions

			.swiper_control
				.swiper-button-prev
				.swiper-button-next
				.swiper-pagination

			.swiper-wrapper

				.swiper-slide
					.solution
						.solution__top
							.icon.solution__icon
								include ../svg/cake.svg
							.solution__title Продукты питания
							.solution__info 6 категорий
						ul.solution__list
							li Vegan
							li Снижение сахара и соли
							li Здоровое питание
							li Спортивное питание
							li Энергия
							li Снижение себестоимости

				.swiper-slide
					.solution
						.solution__top
							.icon.solution__icon
								include ../svg/brush.svg
							.solution__title Косметика
							.solution__info 4 категории
						ul.solution__list
							li Anti-age
							li Hydration
							li Cosmo organic
							li Vegan

				.swiper-slide
					.solution
						.solution__top
							.icon.solution__icon
								include ../svg/box.svg
							.solution__title Упаковочные материалы
							.solution__info 4 категории
						ul.solution__list
							li Recycling
							li Снижение себестоимости
							li Cosmo organic
							li Vegan

				.swiper-slide
					.solution
						.solution__top
							.icon.solution__icon
								include ../svg/cake.svg
							.solution__title Продукты питания 2
							.solution__info 6 категорий 2
						ul.solution__list
							li Vegan 2
							li Снижение сахара и соли 2
							li Здоровое питание 2
							li Спортивное питание 2
							li Энергия 2
							li Снижение себестоимости 2

				.swiper-slide
					.solution
						.solution__top
							.icon.solution__icon
								include ../svg/brush.svg
							.solution__title Косметика 2
							.solution__info 4 категории 2
						ul.solution__list
							li Anti-age 2
							li Hydration 2
							li Cosmo organic 2
							li Vegan 2

				.swiper-slide
					.solution
						.solution__top
							.icon.solution__icon
								include ../svg/box.svg
							.solution__title Упаковочные материалы 2
							.solution__info 4 категории 2
						ul.solution__list
							li Recycling 2
							li Снижение себестоимости 2
							li Cosmo organic 2
							li Vegan 2
