section.section.solutions
	.container
		.section__top
			.section__title Тренды и решения

		.swiper_shadow.swiper_3slides
			.swiper.swiper_solutions

				.swiper_control
					.swiper-button-prev
					.swiper-button-next
					.swiper-pagination

				.swiper-wrapper

					.swiper-slide
						.solution.gradient_border
							.solution__top
								.icon.solution__icon
									include ../svg/cake.svg
								.solution__title Продукты питания
								.solution__info 6 категорий
							ul.solution__list
								li: a(href="#") Vegan
								li: a(href="#") Снижение сахара и соли
								li: a(href="#") Здоровое питание
								li: a(href="#") Спортивное питание
								li: a(href="#") Энергия
							a.underline.solution__link(href="#") Весь список 

					.swiper-slide
						.solution.gradient_border
							.solution__top
								.icon.solution__icon
									include ../svg/brush.svg
								.solution__title Косметика
								.solution__info 4 категории
							ul.solution__list
								li: a(href="#") Anti-age
								li: a(href="#") Hydration
								li: a(href="#") Cosmo organic
								li: a(href="#") Vegan
								li: a(href="#") Hydration
							a.underline.solution__link(href="#") Весь список 

					.swiper-slide
						.solution.gradient_border
							.solution__top
								.icon.solution__icon
									include ../svg/box.svg
								.solution__title Упаковочные материалы
								.solution__info 4 категории
							ul.solution__list
								li: a(href="#") Recycling
								li: a(href="#") Снижение себестоимости
								li: a(href="#") Cosmo organic
								li: a(href="#") Vegan
							a.underline.solution__link(href="#") Весь список 

					.swiper-slide
						.solution.gradient_border
							.solution__top
								.icon.solution__icon
									include ../svg/cake.svg
								.solution__title Продукты питания 2
								.solution__info 6 категорий 2
							ul.solution__list
								li: a(href="#") Vegan 2
								li: a(href="#") Снижение сахара и соли 2
								li: a(href="#") Здоровое питание 2
								li: a(href="#") Спортивное питание 2
								li: a(href="#") Энергия 2
							a.underline.solution__link(href="#") Весь список 

					.swiper-slide
						.solution.gradient_border
							.solution__top
								.icon.solution__icon
									include ../svg/brush.svg
								.solution__title Косметика 2
								.solution__info 4 категории 2
							ul.solution__list
								li: a(href="#") Anti-age 2
								li: a(href="#") Hydration 2
								li: a(href="#") Cosmo organic 2
								li: a(href="#") Vegan 2
								li: a(href="#") Hydration 2
							a.underline.solution__link(href="#") Весь список 

					.swiper-slide
						.solution.gradient_border
							.solution__top
								.icon.solution__icon
									include ../svg/box.svg
								.solution__title Упаковочные материалы 2
								.solution__info 4 категории 2
							ul.solution__list
								li: a(href="#") Recycling 2
								li: a(href="#") Снижение себестоимости 2
								li: a(href="#") Cosmo organic 2
								li: a(href="#") Vegan 2
							a.underline.solution__link(href="#") Весь список 
