extends pug/base

prepend vars
	//-
	- title = "Ingredients | Продукты"

append vars
	//-

block content
	include pug/components/header
	main

		section.section.cabinet.card_product
			.modal-box.modal-request.modal-price
				.modal-box__container
					.modal-request-first
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Запрос цены
						.section__subtitle Вы запрашиваете цену у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						.modal-request__steps
							.modal-request__step.active Сведения о покупке
							.modal-request__step Детали получателя
						form.form.form_validation
							.form__item
								select(name="")
									option Область применения
									option Область применения 2
									option Область применения 3

							label.form__item
								input.input(type="text")
								span.placeholder Объем заказа

							label.form__item
								input.input(type="text")
								span.placeholder Ожидаемый годовой объем

							label.form__item
								input.input(type="text")
								span.placeholder Опишите назначение в готовом продукте и ожидаемый результат

							.form__item
								select(name="")
									option Понадобиться ли вам технологическое сопровождение?
									option Понадобиться ли вам технологическое сопровождение? 2
									option Понадобиться ли вам технологическое сопровождение? 3

							.form__item
								select(name="")
									option Условия доставки
									option Условия доставки 2
									option Условия доставки 3

							label.form__item
								input.input(type="text")
								span.placeholder Адрес доставки

							.form__bottom.right
								button.btn.btn-next(type="submit") Далее

					.modal-request-second
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Запрос цены
						.section__subtitle Вы запрашиваете цену у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						.modal-request__steps
							.modal-request__step.active Сведения о покупке
								include pug/svg/tick-circle.svg
							.modal-request__step.active Детали получателя
						form.form.form_validation

							label.form__item
								input.input(type="text")
								span.placeholder ФИО

							label.form__item
								input.input(type="tel")
								span.placeholder Контактный телефон

							label.form__item
								input.input(type="email")
								span.placeholder E-mail

							.form__bottom.right
								button.btn.btn-last(type="submit") Оформить заказ

					.modal-request-last
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title.center Запрос цены
						.modal-request__like
							include pug/svg/big-like.svg
						.section__text Ваш запрос успешно отправлен в Hitema!
						.modal-request__btns
							button.btn.empty Мои запросы
							button.btn.btn__close Вернуться к продукту

			.modal-box.modal-request.modal-document
				.modal-box__container
					.modal-request-first
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Запрос документа
						.section__subtitle Вы запрашиваете документ у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						form.form.form_validation
							.form__item
								select(name="")
									option Область применения
									option Область применения 2
									option Область применения 3

							.form__item
								select(name="")
									option Язык
									option Язык 2
									option Язык 3

							.form__item
								select(name="")
									option Применяемый регион
									option Применяемый регион 2
									option Применяемый регион 3

							label.form__item
								input.input(type="text")
								span.placeholder Заметки к запросу


							.form__bottom.right
								button.btn.btn-next(type="submit") Далее

					.modal-request-second
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title.center Запрос документа
						.modal-request__like
							include pug/svg/big-like.svg
						.section__text Ваш запрос успешно отправлен в Hitema!
						.modal-request__btns
							button.btn.empty Мои запросы
							button.btn.btn__close Вернуться к продукту

			.modal-box.modal-request.modal-sample
				.modal-box__container
					.modal-request-first
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Запрос образца
						.section__subtitle Вы запрашиваете образец у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						.modal-request__steps
							.modal-request__step.active Детали использования
							.modal-request__step Детали доставки образца
						form.form.form_validation
							label.form__item

								input.input(type="number")
								span.placeholder Укажите кол-во образцов
								.number-up(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
								.number-down(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")

							.modal-request__capacity
								.form__item
									select(name="")
										option Ожидаемый годовой объем
										option Ожидаемый годовой объем 2
										option Ожидаемый годовой объем 3

								.form__item
									select(name="")
										option Ед. изм.
										option Ед. изм. 2
										option Ед. изм. 3

							.form__item
								select(name="")
									option Когда вы планируете купить
									option Когда вы планируете купить 2
									option Когда вы планируете купить 3

							.form__item
								select(name="")
									option Область применения
									option Область применения 2
									option Область применения 3

							label.form__item
								input.input(type="text")
								span.placeholder Заметки к запросу

							.form__bottom.right
								button.btn.btn-next(type="submit") Далее

					.modal-request-second
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Запрос образца
						.section__subtitle Вы запрашиваете образец у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						.modal-request__steps
							.modal-request__step.active Детали использования
								include pug/svg/tick-circle.svg
							.modal-request__step.active Детали доставки образца
						form.form.form_validation

							label.form__item
								input.input(type="text")
								span.placeholder ФИО

							label.form__item
								input.input(type="text")
								span.placeholder Адрес доставки

							label.form__item
								input.input(type="tel")
								span.placeholder Контактный телефон

							label.form__item
								input.input(type="email")
								span.placeholder E-mail

							label.form__item
								input.input(type="text" onfocus="(this.type='date')")
								span.placeholder #[span.desc Укажите дату]  #[span.mobile Дата], к которой необходимо отправить ингредиент
								.calendar-icon
									include pug/svg/calendar.svg
							.form__bottom
								a.underline Авторизируйтесь оформления запроса
								button.btn.btn-last(type="submit") Отправить

					.modal-request-last
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title.center Запрос образца
						.modal-request__like
							include pug/svg/big-like.svg
						.section__text Ваш запрос успешно отправлен в Hitema!
						.modal-request__btns
							button.btn.empty Мои запросы
							button.btn.btn__close Вернуться к продукту

			.modal-box.modal-request.modal-order
				.modal-box__container
					.modal-request-first
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Оформление заказа
						.section__subtitle Вы оформляете заказ у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						.modal-request__steps
							.modal-request__step.active Сведения о покупке
							.modal-request__step Детали получателя
						form.form.form_validation
							.form__item
								select(name="")
									option Область применения
									option Область применения 2
									option Область применения 3

							label.form__item
								input.input(type="text")
								span.placeholder Объем заказа

							label.form__item
								input.input(type="text")
								span.placeholder Ожидаемый годовой объем

							label.form__item
								input.input(type="text")
								span.placeholder Опишите назначение в готовом продукте и ожидаемый результат

							.form__item
								select(name="")
									option Понадобиться ли вам технологическое сопровождение?
									option Понадобиться ли вам технологическое сопровождение? 2
									option Понадобиться ли вам технологическое сопровождение? 3

							.form__item
								select(name="")
									option Условия доставки
									option Условия доставки 2
									option Условия доставки 3

							label.form__item
								input.input(type="text")
								span.placeholder Адрес доставки

							.form__bottom.right
								button.btn.btn-next(type="submit") Далее

					.modal-request-second
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title Оформление заказа
						.section__subtitle Вы оформляете заказ у Hitema
						.modal-request__product.gradient_border
							.modal-request__product-vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.modal-request__product-text FB 06 Растворимая пшеничная клетчатка
						.modal-request__steps
							.modal-request__step.active Сведения о покупке
								include pug/svg/tick-circle.svg
							.modal-request__step.active Детали получателя
						form.form.form_validation

							label.form__item
								input.input(type="text")
								span.placeholder ФИО

							label.form__item
								input.input(type="tel")
								span.placeholder Контактный телефон

							label.form__item
								input.input(type="email")
								span.placeholder E-mail

							.form__bottom.right
								button.btn.btn-last(type="submit") Оформить заказ

					.modal-request-last
						button.modal-box__close(type="button")
							include pug/svg/cross.svg
						.section__title.center Оформление заказа
						.modal-request__like
							include pug/svg/big-like.svg
						.section__text Ваш заказ успешно отправлен в Hitema!
						.modal-request__btns
							button.btn.empty Мои заказы
							button.btn.btn__close Вернуться к продукту

			.container
				.sidebar__container
					.sidebar.gradient_border
						.sidebar__top
							.sidebar__img
								img(src="images/cabinet/profile_img.png" alt="profile_img")
							.sidebar__suptitle Компания
							.sidebar__title ООО «Милорада»

						.sidebar__items

							.item
								a.item__btn(href="#")
									.item__icon
										include pug/svg/cabinet/award.svg
									.item__name Бренды
							.item
								a.item__btn(href="#")
									.item__icon
										include pug/svg/cabinet/box.svg
									.item__name Продукты
									.item__number 13
							.item
								a.item__btn(href="#")
									.item__icon
										include pug/svg/cabinet/document-text.svg
									.item__name Документы
									.item__number 13
							.item
								a.item__btn(href="#")
									.item__icon
										include pug/svg/cabinet/profile_2user.svg
									.item__name Эксперты
							.item
								a.item__btn(href="#")
									.item__icon
										include pug/svg/cabinet/lamp-on.svg
									.item__name Разработки

					.sidebar-request.desc
						.sidebar-request__head
							.sidebar-request__vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.sidebar-request__head-info
								.sidebar-request__title «Милорада»
								.sidebar-request__text Брендов: #[span 025]
								.sidebar-request__text Продуктов: #[span 2849]
						.sidebar-request__text Выберите количество
						form.form
							label.form__item
								input.input(type="text")
								span.placeholder Количество
						button.btn.btn-price Запросить цену
						button.btn.btn-doc Запросить документ
						button.btn.btn-sample Запросить образец
						button.btn.btn-order Заказать продукт
						.sidebar-request__item
							.sidebar-request__item-icon
										include pug/svg/box-not-fill.svg
							.sidebar-request__item-container
								.sidebar-request__item-title Минимальный объем для заказа
								.sidebar-request__item-subtitle 38 т.
						.sidebar-request__item
							.sidebar-request__item-icon
										include pug/svg/convert-3d-cube.svg
							.sidebar-request__item-container
								.sidebar-request__item-title Условия поставки
								.sidebar-request__item-subtitle Самовывоз
						.sidebar-request__item
							.sidebar-request__item-icon
										include pug/svg/transport.svg
							.sidebar-request__item-container
								.sidebar-request__item-title Доступность по регионам
								.sidebar-request__item-subtitle Вся Россия

				.cabinet__content
					.section__title Молоко сухое цельное Denmilk
					.filter__inner.filter__control
						button.icon
							include pug/svg/like.svg
						.filter__text #[span.desc Добавить] в избранное
						button.icon
							include pug/svg/note-not-fill.svg
						.filter__text #[span.desc Добавить] к сравнению
					.section__subtitle.small-section За счет специальной термической обработки, происходят две реакции: Маяра и карамелизации. Между двумя этими реакциям соблюдается строгий баланс. Композиция из натуральных сахаров, добавленная в сухое цельное молоко, провоцирует выделение определенных продуктов реакции

					.section__title Характеристики
					.product_characteristics.small-section
						.product_characteristics__item
							.product_characteristics__title Страна производителя
							.product_characteristics__text Молочная продукция
						.product_characteristics__item
							.product_characteristics__title Торговая марка
							.product_characteristics__text Denmilk
						.product_characteristics__item
							.product_characteristics__title Производитель
							.product_characteristics__text ООО “Зеленые линии”
						.product_characteristics__item
							.product_characteristics__title Состав ингридиента
							.product_characteristics__text Молоко цельное сухое
						.product_characteristics__item
							.product_characteristics__title Условия хранения
							.product_characteristics__text.more М9 месяцев при температуре воздуха от 0°С до 20°С и относительной влажности не более 65%.
						.product_characteristics__item
							.product_characteristics__title Область применения
							.product_characteristics__text применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
						.product_characteristics__item
							.product_characteristics__title Упаковка
							.product_characteristics__text крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
						.product_characteristics__item
							.product_characteristics__title Функциональные свойство
							.product_characteristics__text крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.

					.section__title Документы
					form.form.small-section
						.document
							.document__zone.gradient_border
								.document__icon.icon
									include pug/svg/document-fill.svg
								.document__text Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011
								.document__watch.icon
									include pug/svg/eye-black.svg
								.document__download.icon
									include pug/svg/download-simple.svg
						.document
							.document__zone.gradient_border
								.document__icon.icon
									include pug/svg/document-fill.svg
								.document__text Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011
								.document__watch.icon
									include pug/svg/eye-black.svg
								.document__download.icon
									include pug/svg/download-simple.svg
						.document
							.document__zone.gradient_border
								.document__icon.icon
									include pug/svg/document-fill.svg
								.document__text Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011
								.document__watch.icon
									include pug/svg/eye-black.svg
								.document__download.icon
									include pug/svg/download-simple.svg
						.document
							.document__zone.gradient_border
								.document__icon.icon
									include pug/svg/document-fill.svg
								.document__text Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011Сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011 (ISO 9001-2011
								.document__watch.icon
									include pug/svg/eye-black.svg
								.document__download.icon
									include pug/svg/download-simple.svg
						.form_bottom
							button.btn.right Запросить докумены

					.sidebar-request.mobile
						.sidebar-request__head
							.sidebar-request__vendor
								img(src="images/vendors/vendor2.jpg" alt="")
							.sidebar-request__head-info
								.sidebar-request__title «Милорада»
								.sidebar-request__text Брендов: #[span 025]
								.sidebar-request__text Продуктов: #[span 2849]
						.sidebar-request__text Выберите количество
						form.form
							label.form__item
								input.input(type="text")
								span.placeholder Количество
						button.btn.btn-price Запросить цену
						button.btn.btn-doc Запросить документ
						button.btn.btn-sample Запросить образец
						button.btn.btn-order Заказать продукт
						.sidebar-request__item
							.sidebar-request__item-icon
										include pug/svg/box-not-fill.svg
							.sidebar-request__item-container
								.sidebar-request__item-title Минимальный объем для заказа
								.sidebar-request__item-subtitle 38 т.
						.sidebar-request__item
							.sidebar-request__item-icon
										include pug/svg/convert-3d-cube.svg
							.sidebar-request__item-container
								.sidebar-request__item-title Условия поставки
								.sidebar-request__item-subtitle Самовывоз
						.sidebar-request__item
							.sidebar-request__item-icon
										include pug/svg/transport.svg
							.sidebar-request__item-container
								.sidebar-request__item-title Доступность по регионам
								.sidebar-request__item-subtitle Вся Россия

					.section__head
						.section__title Отзывы
						.review__head
							.review__head-container
								.review__head-top
									.review__head-top__score 4.6
									.review__head-top__stars
										.star.checked
										.star.checked
										.star.checked
										.star.checked
										.star
								.review__head-bottom на основе #[span 493]  отзывов
							button.btn Оставить отзыв
					.swiper_shadow
						.swiper_grid_container
							.swiper.swiper_review

								.swiper-wrapper

									.swiper-slide
										.slide
											.product-review.gradient_border
												.product-review__top
													.product-review__vendor
														img(src="images/vendors/vendor2.jpg" alt="")
													.product-review__top-container
														.product-review__top__title «Милорада»
														.product-review__top__subtitle Виктор Б.
													.product-review__top__info
														.product-review__top__rating
															.product-review__top__stars
																.star.checked
																.star.checked
																.star.checked
																.star.checked
																.star
														.product-review__top__date 09.01.23
												.product-review__text Пришло быстро, описание соответствует действительности Пришло быстро, описание соответствует действительности..Пришло быстро, описание соответствует действительности Пришло быстро, описание
												.product-review__bottom
													.product-review__open.underline Смотреть ответ поставщика
													.product-review__bottom__info
														.product-review__bottom__like
															include pug/svg/mdi_like-outline.svg
														span 1
														.product-review__bottom__dislike
															include pug/svg/mdi_dislike-outline.svg
														span 2
											.product-review__answer
												.product-review__answer-title Ответ поставщикка:
												.product-review__answer-text Спасибо что выбрали наш товар! Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо
												.product-review__answer-info
													span Милорада
													span Логист
													span 13 февраля, 2023 в 12:30

										.slide
											.product-review.gradient_border
												.product-review__top
													.product-review__vendor
														img(src="images/vendors/vendor2.jpg" alt="")
													.product-review__top-container
														.product-review__top__title «Милорада»
														.product-review__top__subtitle Виктор Б.
													.product-review__top__info
														.product-review__top__rating
															.product-review__top__stars
																.star.checked
																.star.checked
																.star.checked
																.star.checked
																.star
														.product-review__top__date 09.01.23
												.product-review__text Пришло быстро, описание соответствует действительности Пришло быстро, описание соответствует действительности..Пришло быстро, описание соответствует действительности Пришло быстро, описание
												.product-review__bottom
													.product-review__open.underline Смотреть ответ поставщика
													.product-review__bottom__info
														.product-review__bottom__like
															include pug/svg/mdi_like-outline.svg
														span 1
														.product-review__bottom__dislike
															include pug/svg/mdi_dislike-outline.svg
														span 2
											.product-review__answer
												.product-review__answer-title Ответ поставщикка:
												.product-review__answer-text Спасибо что выбрали наш товар! Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо
												.product-review__answer-info
													span Милорада
													span Логист
													span 13 февраля, 2023 в 12:30

									.swiper-slide
										.slide
											.product-review.gradient_border
												.product-review__top
													.product-review__vendor
														img(src="images/vendors/vendor2.jpg" alt="")
													.product-review__top-container
														.product-review__top__title «Милорада»
														.product-review__top__subtitle Виктор Б.
													.product-review__top__info
														.product-review__top__rating
															.product-review__top__stars
																.star.checked
																.star.checked
																.star.checked
																.star.checked
																.star
														.product-review__top__date 09.01.23
												.product-review__text Пришло быстро, описание соответствует действительности Пришло быстро, описание соответствует действительности..Пришло быстро, описание соответствует действительности Пришло быстро, описание
												.product-review__bottom
													.product-review__open.underline Смотреть ответ поставщика
													.product-review__bottom__info
														.product-review__bottom__like
															include pug/svg/mdi_like-outline.svg
														span 1
														.product-review__bottom__dislike
															include pug/svg/mdi_dislike-outline.svg
														span 2
											.product-review__answer
												.product-review__answer-title Ответ поставщикка:
												.product-review__answer-text Спасибо что выбрали наш товар! Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо
												.product-review__answer-info
													span Милорада
													span Логист
													span 13 февраля, 2023 в 12:30

										.slide
											.product-review.gradient_border
												.product-review__top
													.product-review__vendor
														img(src="images/vendors/vendor2.jpg" alt="")
													.product-review__top-container
														.product-review__top__title «Милорада»
														.product-review__top__subtitle Виктор Б.
													.product-review__top__info
														.product-review__top__rating
															.product-review__top__stars
																.star.checked
																.star.checked
																.star.checked
																.star.checked
																.star
														.product-review__top__date 09.01.23
												.product-review__text Пришло быстро, описание соответствует действительности Пришло быстро, описание соответствует действительности..Пришло быстро, описание соответствует действительности Пришло быстро, описание
												.product-review__bottom
													.product-review__open.underline Смотреть ответ поставщика
													.product-review__bottom__info
														.product-review__bottom__like
															include pug/svg/mdi_like-outline.svg
														span 1
														.product-review__bottom__dislike
															include pug/svg/mdi_dislike-outline.svg
														span 2
											.product-review__answer
												.product-review__answer-title Ответ поставщикка:
												.product-review__answer-text Спасибо что выбрали наш товар! Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо
												.product-review__answer-info
													span Милорада
													span Логист
													span 13 февраля, 2023 в 12:30

									.swiper-slide
										.slide
											.product-review.gradient_border
												.product-review__top
													.product-review__vendor
														img(src="images/vendors/vendor2.jpg" alt="")
													.product-review__top-container
														.product-review__top__title «Милорада»
														.product-review__top__subtitle Виктор Б.
													.product-review__top__info
														.product-review__top__rating
															.product-review__top__stars
																.star.checked
																.star.checked
																.star.checked
																.star.checked
																.star
														.product-review__top__date 09.01.23
												.product-review__text Пришло быстро, описание соответствует действительности Пришло быстро, описание соответствует действительности..Пришло быстро, описание соответствует действительности Пришло быстро, описание
												.product-review__bottom
													.product-review__open.underline Смотреть ответ поставщика
													.product-review__bottom__info
														.product-review__bottom__like
															include pug/svg/mdi_like-outline.svg
														span 1
														.product-review__bottom__dislike
															include pug/svg/mdi_dislike-outline.svg
														span 2
											.product-review__answer
												.product-review__answer-title Ответ поставщикка:
												.product-review__answer-text Спасибо что выбрали наш товар! Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо что выбрали наш товар!Спасибо
												.product-review__answer-info
													span Милорада
													span Логист
													span 13 февраля, 2023 в 12:30

								.swiper_control
									.swiper-button-prev
									.swiper-button-next
									.swiper-pagination
						a.btn(href='#') Смотреть все

					.section__title.title_swiper Вас также могут заинтересовать

					.swiper_shadow
						.swiper_grid_container
							.swiper.swiper_products-category.swiper_products-category-no-grid

								.swiper-wrapper.swiper-row-column

									.swiper-slide
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
									.swiper-slide
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
									.swiper-slide
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее
										.slide
											.product-category.gradient_border
												.product-category__img
													img(src="images/prod-category/img1.jpg" alt="Продукт")
												.product-category__vendor
													img(src="images/vendors/vendor2.jpg" alt="Поставщик")
												.product-category__name HItema
												.product-category__title Молоко сухое цельное Denmilk Карамелизованное
												.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
												a.product-category__link.underline Подробнее

								.swiper_control
									.swiper-button-prev
									.swiper-button-next
									.swiper-pagination

		section.section.other_product
			.container
				.section__title Молоко сухое цельное Denmilk

				.table
					.thead
						.tr
							.th.photo
							.th.name Название
							.th.subcat Подкатегория
							.th.packaging Тип упаковки
							.th.date Срок годности
							.th.watch

				.swiper_shadow.tbody
					.swiper.swiper_column_line

						.swiper_control
							.swiper-button-prev
							.swiper-button-next
							.swiper-pagination

						.swiper-wrapper


							.swiper-slide
								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

							.swiper-slide
								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть

								.tr.gradient_border
									.td.photo
										img(src="images/product_creation/card01.jpg", alt="")
									.td.name
										span Пищевая промышленность
										| Аскорбил пальминат
									.td.subcat
										span.mobile Подкатегория
										| Молочные продукты
									.td.packaging
										span.mobile Типо упаковки
										| Коробка
									.td.date
										span.mobile Срок годности
										| 09.01.2023
									.td.watch.underline Смотреть
				button.btn Смотреть все


	include pug/components/card_product_footer

	include pug/components/footer
