extends pug/base

prepend vars
	//-
	- title = "Ingredients | Портрет клиента"

append vars
	//-

block content
	include pug/components/header
	main
		section.section.cabinet.statistics.client_portrait
			.container.back
				.underline Вернуться назад

			.modal-box.modal-instruction
				.modal-box__container
					button.modal-box__close(type="button")
						include pug/svg/cross.svg
					.section__title Инструкция
					.modal__text
						.modal__text-title Покупатель
						.modal__text-subtitle пользователь сайта, который заинтересован в категории вашего продукта или аналогах
					.modal__text
						.modal__text-title Marketing Leads (MQL)
						.modal__text-subtitle потенциальные клиенты, которые еще не интересуются покупкой, но уже просматривают ваш онлайн профиль в магазине, скачивает документы, добавляют к сравнение с конкурентами
					.modal__text
						.modal__text-title Sales leads (SQL)
						.modal__text-subtitle потенциальные клиенты, которые уже интересуются покупкой, запрашивают цену, образцы для тестов, интересуются условиями поставки.
					.btn.btn-exit Понятно

			.modal-box.modal-note
				.modal-box__container
					button.modal-box__close(type="button")
						include pug/svg/cross.svg
					.section__title Заметка о клиенте

					form.form.form_validation
						label.form__item
							textarea.textarea(maxlength="5000")
							span.placeholder Введите заметку о клиенте
							span.count-text #[span 0] /5000

						.form__bottom.right
							button.btn.btn-exit.btn-right(type="submit") Добавить

			.modal-box.modal-advice
				.modal-box__container
					button.modal-box__close(type="button")
						include pug/svg/cross.svg
					.section__title Совет по статистике
					.section__subtitle Для корректной работы статистики задайте нужный временной промежуток и интересующие вас категории.
					.section__subtitle Данные статистики обновляются в режиме реального времени
					.btn.btn-exit Понятно

			.container
				.sidebar.other_client
					.other_client-title Другие клиенты:
					.swiper_shadow
						.swiper_grid_container
							.swiper.swiper_review_one

								.swiper-wrapper

									.swiper-slide
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый

									.swiper-slide
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый

									.swiper-slide
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый
										.slide
											a.other_client-item.gradient_border(href="#")
												.other_client-item-img
													img(src="images/vendors/vendor2.jpg" alt="")
												.text-box
													.other_client-item-title ООО «Милорада»
													.other_client-item-name Викторов Александр
													.other_client-item-status Статус: Новый

								.swiper_control
									.swiper-button-prev
									.swiper-button-next
									.swiper-pagination

				.cabinet__content

					.client_portrait-head
						.client_portrait-head__left
							.client_portrait-head__breadcrumbs
								.client_portrait-head__breadcrumb.active Покупатель
								.client_portrait-head__breadcrumb.active Marketing Leads
								.client_portrait-head__breadcrumb Sales leads
							.client_portrait-head__box.gradient_border
								.client_portrait-head__box-img
									img(src="images/vendors/vendor2.jpg" alt="")
								.client_portrait-head__box-head.text-box
									.client_portrait-head__box-title ООО «Милорада»
									.client_portrait-head__box-name Викторов Александр
								.client_portrait-head__box-head-time.text-box
									.client_portrait-head__box-title Дата регистрации
									.client_portrait-head__box-name 01.02.2023
								.client_portrait-head__box-head-company.text-box
									.client_portrait-head__box-title Информация о компании
									.client_portrait-head__box-name Логистика
								.client_portrait-head__box-head-position.text-box
									.client_portrait-head__box-title Должность
									.client_portrait-head__box-name Менеджер по продажам
								.client_portrait-head__box-head-phone.text-box
									.client_portrait-head__box-title Рабочий телефон
									.client_portrait-head__box-name +7 (915) 195-69-21
								.client_portrait-head__box-head-email.text-box
									.client_portrait-head__box-title Рабочая почта
									.client_portrait-head__box-name vitaliy@mail.ru

						.client_portrait-head__right
							.client_portrait-head__info-box.gradient_border
								.contact__us-circle
								.info-box__item.instruction-open
									button.icon
										include ./pug/svg/invoice.svg
									.filter__text Инструкция
								.info-box__item.note-open
									button.icon
										include ./pug/svg/edit-fill.svg
									.filter__text Оставить заметку

					.other_client.mobile
						.other_client-title Другие клиенты:
						.swiper_shadow
							.swiper_grid_container
								.swiper.swiper_review

									.swiper-wrapper

										.swiper-slide
											.slide
												a.other_client-item.gradient_border(href="#")
													.other_client-item-img
														img(src="images/vendors/vendor2.jpg" alt="")
													.text-box
														.other_client-item-title ООО «Милорада»
														.other_client-item-name Викторов Александр
														.other_client-item-status Статус: Новый

										.swiper-slide
											.slide
												a.other_client-item.gradient_border(href="#")
													.other_client-item-img
														img(src="images/vendors/vendor2.jpg" alt="")
													.text-box
														.other_client-item-title ООО «Милорада»
														.other_client-item-name Викторов Александр
														.other_client-item-status Статус: Новый

										.swiper-slide
											.slide
												a.other_client-item.gradient_border(href="#")
													.other_client-item-img
														img(src="images/vendors/vendor2.jpg" alt="")
													.text-box
														.other_client-item-title ООО «Милорада»
														.other_client-item-name Викторов Александр
														.other_client-item-status Статус: Новый



					.section__title Активность на портале

					.number-of-actions.with-scroll
						.statistics-box.gradient_border
							.number-of-actions__head
								.section__title Общее количество действий
								.number-of-actions__months
									.number-of-actions__month
										.number-of-actions__month-color
										.number-of-actions__month-name Январь
									.number-of-actions__month
										.number-of-actions__month-color
										.number-of-actions__month-name Январь
									.number-of-actions__month
										.number-of-actions__month-color
										.number-of-actions__month-name Январь
								.form__item
									select(name="")
										option За последние 3 месяца
										option За последние 3 месяца 2
										option За последние 3 месяца 3
									.icon.gradient_border.blank.advice-open
										include ./pug/svg/idea.svg
							.number-of-actions__bottom
								#number-of-actions__graph
							.number-of-actions__box
								.number-of-actions__month
									.number-of-actions__month-color
									.number-of-actions__month-name Январь
									.number-of-actions__month-number 1 000
								.number-of-actions__month
									.number-of-actions__month-color
									.number-of-actions__month-name Февраль
									.number-of-actions__month-number 2 000
								.number-of-actions__month
									.number-of-actions__month-color
									.number-of-actions__month-name Март
									.number-of-actions__month-number 5 000

						.statistics-box.gradient_border
							.number-of-actions__head
								.section__title Действия по категориям за январь 2022
								.icon.gradient_border.blank.advice-open
									include ./pug/svg/idea.svg
							.actions-by-category__bottom
								#actions-by-category__funnel-chart

						.refresh-container
							.refresh-container-btn
								include ./pug/svg/radix-icons_update.svg
								| Обновить
							span Последнее обновление в 12.30

					.actions-by-category.switcher
						.section__title Просмотр действий по категориям
						.switcher__control
							button.btn.switcher__btn.active(type="button") Материалы
							button.btn.switcher__btn(type="button") Технологии
						.section__subtitle Настройте фильтры для сравнения
						form.one-line
							.form__item.desc
								select(name="")
									option Категории
									option Категории 2
									option Категории 3
							.form__item.desc
								select(name="")
									option Год
									option Год 2
									option Год 3
							.form__item.desc
								select(name="")
									option Месяц
									option Месяц 2
									option Месяц 3
							.form__item.mobile
								select(name="")
									option Фильтры
									option Фильтры 2
									option Фильтры 3
							.icon.gradient_border.blank.advice-open
								include ./pug/svg/idea.svg
						.switcher__container
							.switcher__content.active
								.statistics-box.gradient_border
									.actions-by-category__head
										.section__title Просматриваемые категории за январь 2022
									.actions-by-category__bottom
										#client_portrait__column-one

								.statistics-box.gradient_border
									.actions-by-category__head
										.section__title Просматриваемые категории за январь 2022
									.actions-by-category__bottom
										#client_portrait__donut-chart-one

								.refresh-container
									.refresh-container-btn
										include ./pug/svg/radix-icons_update.svg
										| Обновить
									span Последнее обновление в 12.30
							.switcher__content
								.statistics-box.gradient_border
									.actions-by-category__head
										.section__title Просматриваемые категории за январь 2022
									.actions-by-category__bottom
										#client_portrait__column-two

								.statistics-box.gradient_border
									.actions-by-category__head
										.section__title Просматриваемые категории за январь 2022
									.actions-by-category__bottom
										#client_portrait__donut-chart-two

								.refresh-container
									.refresh-container-btn
										include ./pug/svg/radix-icons_update.svg
										| Обновить
									span Последнее обновление в 12.30

					.client_portrait-section
						.section__title Просмотры товаров
						.client_portrait__info-list
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
						.underline.down Показать еще

					.client_portrait-section
						.section__title Запросы цен
						.client_portrait__info-list
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
						.underline.down Показать еще

					.client_portrait-section
						.section__title Запросы образцов
						.client_portrait__info-list
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
						.underline.down Показать еще

					.client_portrait-section
						.section__title Запросы документов
						.client_portrait__info-list
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
						.underline.down Показать еще

					.client_portrait-section
						.section__title Скачивание документов
						.client_portrait__info-list
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
							.client_portrait__info-item.gradient_border
								.client_portrait__info-img
									img(src="images/cards/card02.jpg" alt="")
								.client_portrait__info-name Молоко сухое цельное Denmilk Карамелизованное
								.client_portrait__info-time 04.05.23 в 13:40
						.underline.down Показать еще

					.client_portrait-section
						.section__title Контакт в чате
						.client_portrait__contacts-list
							.client_portrait__contacts-item.gradient_border
								.client_portrait__contacts-img
									img(src="images/vendors/vendor2.jpg" alt="")
								.text-box
									.client_portrait__contacts-title ООО «Милорада»
									.client_portrait__contacts-name Викторов Александр
								.client_portrait__contacts-time 04.05.23 в 13:40
							.client_portrait__contacts-item.gradient_border
								.client_portrait__contacts-img
									img(src="images/vendors/vendor2.jpg" alt="")
								.text-box
									.client_portrait__contacts-title ООО «Милорада»
									.client_portrait__contacts-name Викторов Александр
								.client_portrait__contacts-time 04.05.23 в 13:40
							.client_portrait__contacts-item.gradient_border
								.client_portrait__contacts-img
									img(src="images/vendors/vendor2.jpg" alt="")
								.text-box
									.client_portrait__contacts-title ООО «Милорада»
									.client_portrait__contacts-name Викторов Александр
								.client_portrait__contacts-time 04.05.23 в 13:40
						.underline.down Показать еще






	include pug/components/footer
