extends pug/base

prepend vars
	//-
	- title = "Ingredients"

append vars
	//-

block content
	.container
		ol(style="font-size:30rem;line-height:150%")
			li: a(target="_blank" href="home.html") Главная (m)
			li: a(target="_blank" href="cabinet.html") Кабинет / ЛК Личные данные (m)
			li: a(target="_blank" href="my_orders.html") Кабинет / ЛК заказы (m)
			li: a(target="_blank" href="my_messages.html") Кабинет / ЛК сообщения (m)
			li: a(target="_blank" href="my_message_detail.html") Кабинет / ЛК Сообщение подробно (m)
			li: a(target="_blank" href="my_favorites.html") Кабинет / ЛК избранное (m)
			li: a(target="_blank" href="my_sample_request.html") Кабинет / ЛК запрос образцов (m)
			li: a(target="_blank" href="my_price_request.html") Кабинет / ЛК запрос цен (m)
			li: a(target="_blank" href="my_documents_request.html") Кабинет / ЛК запрос документов (m)
			li: a(target="_blank" href="my_saved_search.html")  Кабинет / ЛК Сохраненный поиск (m)
			li: a(target="_blank" href="search_page.html") (mW) Кабинет / ЛК поиск
			li: a(target="_blank" href="product_comparison.html")  Сравнение товаров (m)
			li: a(target="_blank" href="sample_request.html") Запрос образцов (m)
			li: a(target="_blank" href="drinks.html") Напитки (m)
			li: a(target="_blank" href="login.html") Вход (m)
			li: a(target="_blank" href="products.html") Продукты (m)
			li: a(target="_blank" href="registration.html") Регистрация (m)
			li: a(target="_blank" href="vendors.html") Поставщики (m)
			li: a(target="_blank" href="contacts.html") Контакты (m)
			li: a(target="_blank" href="products-category.html") (wM) Товары (продукция) по категории
			li: a(target="_blank" href="404.html") 404 (m)
			li: a(target="_blank" href="provider_cabinet.html") Кабинет Поставщик / Поставщик личные данные (m)
			li: a(target="_blank" href="provider_orders.html") Кабинет Поставщик / Поставщик заказы (m)
			li: a(target="_blank" href="brand.html") Кабинет Поставщик / Поставщик Бренды (m)
			li: a(target="_blank" href="product_creation.html") Кабинет Поставщик / Поставщик Создание товара (m)
			li: a(target="_blank" href="product_creation_characteristics.html") Кабинет Поставщик / Поставщик Создание товара 2 (m)
			li: a(target="_blank" href="product_cards.html")  Кабинет Поставщик / Поставщик Наша продукция (m)
			li: a(target="_blank" href="product_reviews.html")  Кабинет Поставщик / Поставщик Отзывы по товару (m)
			li: a(target="_blank" href="provider_sample_requests.html")  Кабинет Поставщик / Поставщик Заявки на образец (m)
			li: a(target="_blank" href="provider_price_requests.html")  Кабинет Поставщик / Поставщик Заявки на цену (m)
			li: a(target="_blank" href="provider_documents_requests.html")  Кабинет Поставщик / Поставщик Заявки на документ (m)
			li: a(target="_blank" href="provider_messages.html")  Кабинет Поставщик / Поставщик сообщения (m)
			li: a(target="_blank" href="provider_message_detail.html")  Кабинет Поставщик / Поставщик Сообщение подробно (m)
			li: a(target="_blank" href="notifications.html")  Кабине Поставщикт / Поставщик Уведомления (m)
			li: a(target="_blank" href="card_product.html")  Карточка товара / Продукты (m)
			li: a(target="_blank" href="card_product_info.html")  Карточка товара / Продукты информация (m)
			li: a(target="_blank" href="card_product_document.html")  Карточка товара / Продукты документы (m)
			li: a(target="_blank" href="card_product_experts.html")  Карточка товара / Продукты эксперт (m)
			li: a(target="_blank" href="card_product_brand.html")  Карточка товара / Продукты бренд (m)
			li: a(target="_blank" href="card_product_vendor.html")  Карточка товара / Детальная поставщика (m)
			li: a(target="_blank" href="admin-contacting.html")  Админ / Обращение в техподдержку (m)
			li: a(target="_blank" href="admin-moderation.html")  Админ / Обрашение в техподдержку модерация (m)
			li: a(target="_blank" href="mobile-header-account.html")  Мобильное меню ЛК (m)

