extends pug/base

prepend vars
	//-
	- title = "Ingredients"

append vars
	//-

block content
	.container
		ol(style="font-size:30rem;line-height:150%")
			li: a(target="_blank" href="home.html") Главная (m)
			li: a(target="_blank" href="cabinet.html") Кабинет / Личные данные (m)
			li: a(target="_blank" href="my_orders.html") Кабинет / Мои заказы (m)
			li: a(target="_blank" href="my_messages.html") Кабинет / Мои сообщения (m)
			li: a(target="_blank" href="message_detail.html") Кабинет / Сообщение подробно (m)
			li: a(target="_blank" href="drinks.html") Напитки (m)
			li: a(target="_blank" href="login.html") Вход (m)
			li: a(target="_blank" href="products.html") Продукты (m)
			li: a(target="_blank" href="registration.html") Регистрация (m)
			li: a(target="_blank" href="vendors.html") Поставщики (m)
