extends pug/base

prepend vars
	//-
	- title = "Ingredients"

append vars
	//-

block content
	.container
		ol(style="font-size:30rem;line-height:150%")
			li: a(target="_blank" href="home.html") Главная (m)
			li: a(target="_blank" href="cabinet.html") Кабинет / ЛК Личные данные (m)
			li: a(target="_blank" href="my_orders.html") Кабинет / ЛК заказы (m)
			li: a(target="_blank" href="my_messages.html") Кабинет / ЛК сообщения (m)
			li: a(target="_blank" href="message_detail.html") Кабинет / ЛК Сообщение подробно (m)
			li: a(target="_blank" href="my_favorites.html") Кабинет / ЛК избранное (m)
			li: a(target="_blank" href="my_sample_request.html") (wM)  Кабинет / ЛК запрос образцов
			li: a(target="_blank" href="my_saved_search.html")  Кабинет / ЛК Сохраненный поиск (m)
			li: a(target="_blank" href="sample_request.html")  Запрос образцов (m)
			li: a(target="_blank" href="drinks.html") Напитки (m)
			li: a(target="_blank" href="login.html") Вход (m)
			li: a(target="_blank" href="products.html") Продукты (m)
			li: a(target="_blank" href="registration.html") Регистрация (m)
			li: a(target="_blank" href="vendors.html") Поставщики (m)
			li: a(target="_blank" href="contacts.html") Контакты (m)
			li: a(target="_blank" href="products-category.html") (wM) Товары (продукция) по категории
			li: a(target="_blank" href="404.html") 404 (m)
			li: a(target="_blank" href="provider_cabinet.html") Кабинет / Поставщик личные данные (m)
			li: a(target="_blank" href="provider_orders.html") Кабинет / Поставщик заказы (m)
