extends pug/base

prepend vars
	//-
	- title = "Ingredients"

append vars
	//-

block content
	.container
		ol(style="font-size:30rem;line-height:150%")
			li: a(target="_blank" href="home.html") Главная
			li: a(target="_blank" href="cabinet.html") Кабинет / Личные данные
			li: a(target="_blank" href="my_orders.html") Кабинет / Мои заказы
			li: a(target="_blank" href="my_messages.html") Кабинет / Мои сообщения
			li: a(target="_blank" href="message_detail.html") Кабинет / Сообщение подробно
			li: a(target="_blank" href="drinks.html") Напитки
			li: a(target="_blank" href="login.html") Вход
			li: a(target="_blank" href="products.html") Продукты
			li: a(target="_blank" href="registration.html") Регистрация
			li: a(target="_blank" href="vendors.html") Поставщики
