extends pug/base

prepend vars
	//-
	- title = "Ingredients"

append vars
	//-

block content

	include pug/components/header
	include pug/components/banner
	include pug/components/materials
	include pug/components/solutions
	include pug/components/help
	include pug/components/vendors