extends pug/base

prepend vars
	//-
	- title = "Ingredients | Поставщик уведомления"

append vars
	//-

block content
	include pug/components/header
	main

		section.section.cabinet.provider_section_messages
			.container
				.sidebar.gradient_border
					.sidebar__top
						.sidebar__img
							img(src="images/cabinet/profile_img.png" alt="profile_img")
						.sidebar__suptitle Компания
						.sidebar__title ООО «Милорада»

					.sidebar__items
						.item
							a.item__btn.item__drop_btn(href="#")
								.item__icon
									include pug/svg/cabinet/box.svg
								.item__name Товары
							.item__drop
								.item__list
									a(href="#") Товары
									a(href="#") Заказы
									a(href="#") Отзывы и вопросы
									a(href="#") Бренды
						.item
							a.item__btn.item__drop_btn.active(href="#")
								.item__icon
									include pug/svg/cabinet/profile_2user.svg
								.item__name Личный кабинет
							.item__drop(style="display: block")
								.item__list
									a.active(href="#") Личные данные
									a(href="#") Личный кабинет 1
									a(href="#") Личный кабинет 1
									a(href="#") Личный кабинет 1

						.item
							a.item__btn.item__drop_btn(href="#")
								.item__icon
									include pug/svg/cabinet/sms.svg
								.item__name Запросы
							.item__drop
								.item__list
									a(href="#") Запросы 1
									a(href="#") Запросы 2
									a(href="#") Запросы 3
									a(href="#") Запросы 4

				.cabinet__content
					.section__title Сообщения
					.bnt_scroll.mobile
						.switcher__control
							button.btn.switcher__btn.all_messages.active(type="button") Общие чаты
							button.btn.switcher__btn.price_messages(type="button") Заказ цены
							button.btn.switcher__btn.sample_messages(type="button") Заказ образца
							button.btn.switcher__btn.document_messages(type="button") Заказ документов

					form.search.cabinet__search
						label
							include ./pug/svg/search_grey.svg
							input(type="text" placeholder="Поиск сообщения")
						button(type="submit")
							include ./pug/svg/arrow.svg
					.twoinput
						.form__item
							select(name="")
								option Имя сотрудника
								option Имя сотрудника 2
								option Имя сотрудника 3
						.switcher__control.desk
							button.btn.switcher__btn.all_messages.active(type="button") Общие чаты
							button.btn.switcher__btn.price_messages(type="button") Заказ цены
							button.btn.switcher__btn.sample_messages(type="button") Заказ образца
							button.btn.switcher__btn.document_messages(type="button") Заказ документов

					.messages
						a(href="#").message.gradient_border
							.message__img
								img(src="images/cabinet/message_img.jpg" alt="message_img")
							.message__inner
								.message__top
									span.message__author Викторов Александр
									span.message__text Здравствуйте! Разнообразный и богатый опыт начало повседневной работы по формированию позиции влечет за собой...
								.message__bottom
									span Милорада
									span Логист
									span.desktop 13 февраля, 2023 в 12:30
									span.mobile 13.02.23 в 12:30

						a(href="#").message.gradient_border.unread
							.message__img
								img(src="images/cabinet/message_img.jpg" alt="message_img")
							.message__inner
								.message__top
									span.message__author Викторов Александр
									span.message__text Здравствуйте! Разнообразный и богатый опыт начало повседневной работы по формированию позиции влечет за собой...
								.message__bottom
									span Милорада
									span Логист
									span.desktop 13 февраля, 2023 в 12:30
									span.mobile 13.02.23 в 12:30
									.message__passed 5 м

						a(href="#").message.gradient_border
							.message__img
								img(src="images/cabinet/message_img.jpg" alt="message_img")
							.message__inner
								.message__top
									span.message__author Викторов Александр
									span.message__text Здравствуйте! Разнообразный и богатый опыт начало повседневной работы по формированию позиции влечет за собой...
								.message__bottom
									span Милорада
									span Логист
									span.desktop 13 февраля, 2023 в 12:30
									span.mobile 13.02.23 в 12:30

	.notifications__container
		.notifications__item.add
			.notifications__item-icon
				include pug/svg/notifications/tick-circle.svg
			.notifications__item-text Товар добавлен в маркетплейс
			.notifications__item-exit
				include pug/svg/cross.svg
		.notifications__item
			.notifications__item-icon
				include pug/svg/notifications/message.svg
			.notifications__item-text Вам пришло личное сообщение
			.notifications__item-exit
				include pug/svg/cross.svg
		.notifications__item
			.notifications__item-icon
				include pug/svg/notifications/message.svg
			.notifications__item-text Запрос на новый образец товара
			.notifications__item-exit
				include pug/svg/cross.svg
		.notifications__item.warning
			.notifications__item-icon
				include pug/svg/notifications/warning.svg
			.notifications__item-text Отказ подтверждения представителя бренда
			.notifications__item-exit
				include pug/svg/cross.svg

	include pug/components/footer
