extends pug/base

prepend vars
	//-
	- title = "Ingredients | Сравнение товаров"

append vars
	//-

block content
	include pug/components/header
	main
		section.section.switcher.product_comparison
			.container
				a.underline.cabinet__back Назад
				.section__title Сравнение товаров
				.switcher__control
					button.btn.switcher__btn.active(type="button") Первая категория #[span (4)]
					button.btn.switcher__btn(type="button") Вторая категория #[span (4)]
				.product_comparison__sort
					.text Показывать:
					.different-charact Различающиеся характеристики
					.delete-list.underline Удалить список
					.download-list.underline Выгрузить список в excel
				.switcher__container
					.switcher__content.active
						.product_comparison__info
							.product_comparison__info-text Cтрана производства
							.product_comparison__info-text Cтрана производства
							.product_comparison__info-text Упаковка
							.product_comparison__info-text Состав ингредиента
						.swiper_shadow
							.swiper.swiper_product_comparison

								.swiper-wrapper

									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное

									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное
									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное
									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное
									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное

								.swiper_control
									.swiper-button-prev
									.swiper-button-next
									.swiper-pagination
					.switcher__content
						.product_comparison__info
							.product_comparison__info-text Cтрана производства
							.product_comparison__info-text Cтрана производства
							.product_comparison__info-text Упаковка
							.product_comparison__info-text Состав ингредиента
						.swiper_shadow
							.swiper.swiper_product_comparison

								.swiper-wrapper

									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema 1
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное

									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema 1
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное
									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema 1
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное
									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema 1
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное
									.swiper-slide
										.product_comparison-slide
												.product_comparison__top.gradient_border
													.product_comparison__top-img
														img(src="images/prod-category/img1.jpg" alt="Продукт")
													.product_comparison__top-vendor
														img(src="images/vendors/vendor2.jpg" alt="Поставщик")
													.product_comparison__top-name HItema 1
													.product_comparison__top-title Молоко сухое цельное Denmilk Карамелизованное
												.product_comparison__bottom
													.product_comparison__bottom-text Россия
													.product_comparison__bottom-text Применяется при производстве кондитерских изделий с целью придания им карамельного вкуса и аромата.
													.product_comparison__bottom-text Крафт-мешок с полиэтиленовым вкладышем массой нетто 15 кг.
													.product_comparison__bottom-text Молоко сухое цельное

								.swiper_control
									.swiper-button-prev
									.swiper-button-next
									.swiper-pagination



	include pug/components/footer
