extends pug/base

prepend vars
	//-
	- title = "Продукция по категории"

append vars
	//-

block content
	include pug/components/header
	main
		section.section.products-category
			.search__modal
				.container
					.search__modal-top
						.search__modal-title Все фильтры
						.search__modal-exit
							include pug/svg/exit.svg
					form.search__modal-container
						.search__modal-items
							.item
								.item__btn.item__drop_btn
									.item__name Категория
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Категория 1
										label
											input(type="checkbox")
											.checkmark
											span Категория 2
										label
											input(type="checkbox")
											.checkmark
											span Категория 3
										label
											input(type="checkbox")
											.checkmark
											span Категория 4
							.item
								.item__btn.item__drop_btn
									.item__name Логистика
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Логистика 1
										label
											input(type="checkbox")
											.checkmark
											span Логистика 2
										label
											input(type="checkbox")
											.checkmark
											span Логистика 3
										label
											input(type="checkbox")
											.checkmark
											span Логистика 4
							.item
								.item__btn.item__drop_btn
									.item__name Бренд
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Бренд 1
										label
											input(type="checkbox")
											.checkmark
											span Бренд 2
										label
											input(type="checkbox")
											.checkmark
											span Бренд 3
										label
											input(type="checkbox")
											.checkmark
											span Бренд 4
							.item
								.item__btn.item__drop_btn
									.item__name Вид отрасли
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Вид отрасли 1
										label
											input(type="checkbox")
											.checkmark
											span Вид отрасли 2
										label
											input(type="checkbox")
											.checkmark
											span Вид отрасли 3
										label
											input(type="checkbox")
											.checkmark
											span Вид отрасли 4
							.item
								.item__btn.item__drop_btn
									.item__name Наименование
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Наименование 1
										label
											input(type="checkbox")
											.checkmark
											span Наименование 2
										label
											input(type="checkbox")
											.checkmark
											span Наименование 3
										label
											input(type="checkbox")
											.checkmark
											span Наименование 4
						.search__modal-items
							.item
								.item__btn.item__drop_btn
									.item__name Поставщики
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Поставщики 1
										label
											input(type="checkbox")
											.checkmark
											span Поставщики 2
										label
											input(type="checkbox")
											.checkmark
											span Поставщики 3
										label
											input(type="checkbox")
											.checkmark
											span Поставщики 4
							.item
								.item__btn.item__drop_btn
									.item__name Область применения
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Область применения 1
										label
											input(type="checkbox")
											.checkmark
											span Область применения 2
										label
											input(type="checkbox")
											.checkmark
											span Область применения 3
										label
											input(type="checkbox")
											.checkmark
											span Область применения 4
							.item
								.item__btn.item__drop_btn
									.item__name Минимальный заказ
								.item__drop.range
									.item__list
										label
											.incl-range
											input.min(type="range", min='1', max='100', step='1', value='1')
											input.max(type="range", min='1', max='100', step='1', value='100')
										.range-info
											.range-number-min от
												span 1 шт
											.range-number-max до
												span 100 шт

							.item
								.item__btn.item__drop_btn
									.item__name География
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span География 1
										label
											input(type="checkbox")
											.checkmark
											span География 2
										label
											input(type="checkbox")
											.checkmark
											span География 3
										label
											input(type="checkbox")
											.checkmark
											span География 4
						.search__modal-items
							.item
								.item__btn.item__drop_btn
									.item__name Сертификаты
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Сертификаты 1
										label
											input(type="checkbox")
											.checkmark
											span Сертификаты 2
										label
											input(type="checkbox")
											.checkmark
											span Сертификаты 3
										label
											input(type="checkbox")
											.checkmark
											span Сертификаты 4
							.item
								.item__btn.item__drop_btn
									.item__name Компания
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Milorada
										label
											input(type="checkbox")
											.checkmark
											span Hltema
										label
											input(type="checkbox")
											.checkmark
											span Компания 1
										label
											input(type="checkbox")
											.checkmark
											span Компания 2
							.item
								.item__btn.item__drop_btn
									.item__name С документами
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span С документами 1
										label
											input(type="checkbox")
											.checkmark
											span С документами 2
										label
											input(type="checkbox")
											.checkmark
											span С документами 3
										label
											input(type="checkbox")
											.checkmark
											span С документами 4
							.item
								.item__btn.item__drop_btn
									.item__name Функциональные свойства
								.item__drop
									.item__list
										label
											input(type="checkbox")
											.checkmark
											span Функциональные свойства 1
										label
											input(type="checkbox")
											.checkmark
											span Функциональные свойства 2
										label
											input(type="checkbox")
											.checkmark
											span Функциональные свойства 3
										label
											input(type="checkbox")
											.checkmark
											span Функциональные свойства 4
					.search__modal-bottom
						button.btn.search__modal-clean Очистить
						button.btn.search__modal-apply Применить
			.lines
				img(src="images/lines.svg" alt="lines.svg")
			.container
				.section__title Название категории
				.section__subtitle Представлено 457 категорий
				.filter

					.filter__inner
						form.search
							.search__filter.desktop
								select(name="search1")
									option(value="0" selected) Категория
									option(value="1") Категория 1
									option(value="2") Категория 2
									option(value="3") Категория 3

							.search__filter.desktop
								select(name="search2")
									option(value="0" selected) Поставщики
									option(value="1") Поставщики 1
									option(value="2") Поставщики 2
									option(value="3") Поставщики 3

							.search__filter.desktop
								select(name="search2")
									option(value="0" selected) Сертификаты
									option(value="1") Сертификаты 1
									option(value="2") Сертификаты 2
									option(value="3") Сертификаты 3

							.search__filter.desktop
								select(name="search2")
									option(value="0" selected) Логистика
									option(value="1") Логистика 1
									option(value="2") Логистика 2
									option(value="3") Логистика 3

							.search__inner.all-filter
								button.btn Все фильтры

						.filter__inner.filter__control
							.dropdown
								button.dropdown_btn.icon(type="button")
									include ./pug/svg/share.svg
								.dropdown_list
									a(href="#")
										.svg
											include ./pug/svg/whatsapp.svg
										| What’s up
									a(href="#")
										.svg
											include ./pug/svg/telegram.svg
										| Telegram
									a(href="#")
										.svg
											include ./pug/svg/linkedin.svg
										| Linked in
							button.icon(type="button")
								include ./pug/svg/export.svg
					.filter__inner.filter__tags
						.filter__tags-wrap
				.swiper_shadow
					.swiper_grid_container
						.swiper.swiper_products-category.swiper_products-category-big

							.swiper-wrapper

								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее
								.swiper-slide
									.slide
										.product-category.gradient_border
											.product-category__img
												img(src="images/prod-category/img1.jpg" alt="Продукт")
											.product-category__vendor
												img(src="images/vendors/vendor2.jpg" alt="Поставщик")
											.product-category__like
												include ./pug/svg/like-blank.svg
											.product-category__name HItema
											.product-category__title Молоко сухое цельное Denmilk Карамелизованное
											.product-category__text Преимущества или краткое описание: повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет оценить...
											a.product-category__link.underline Подробнее

							.swiper_control
								.swiper-button-prev
								.swiper-button-next
								.swiper-pagination




	include pug/components/footer
