extends pug/base

prepend vars
	//-
	- title = "Ingredients | Регистрация"

append vars
	//-

block content
	include pug/components/header
	main
		section.section.switcher.section_lines.section_reg
			.lines
				img(src="images/lines.svg" alt="lines.svg")
			.container
				.section__title Регистрация
				.section__subtitle Добро пожаловать на MIT.   Портал по продаже сырья, материалов и оборудования. Все для разработки и внедрения новых продуктов  в одном  месте.

				.switcher__control
					button.btn.switcher__btn.active(type="button") Я клиент
					button.btn.switcher__btn(type="button") Я поставщик

				.switcher__container
					.switcher__content.active

						form.form.form_login.form_validation
							label.form__item
								span.form__icon
									include pug/svg/phone.svg
								input.input.required(type="tel")
								span.placeholder Номер телефона

							label.form__item
								span.form__icon
									include pug/svg/email.svg
								input.input.required(type="email")
								span.placeholder E-mail

							label.form__item
								span.form__icon
									include pug/svg/profile_input.svg
								input.input.required(type="text")
								span.placeholder Фамилия, Имя, Отчество

							label.form__item
								span.form__icon
									include pug/svg/company.svg
								input.input.required(type="text")
								span.placeholder Компания

							.form__item
								span.form__icon
									include pug/svg/position.svg
								select(name="")
									option Должность
									option Должность 2
									option Должность 3

							.form__item.select-department
								select(name="")
									option(data-display="Отдел") Отдел
									option(data-display="Отдел") Отдел 2
									option(data-display="Отдел") Отдел 3

							.select-department-list

							.form__item
								select(name="")
									option Отрасль
									option Отрасль 2
									option Отрасль 3

							.files
								.files__zone.drop-zone
									.files__title Ваша фотография
									.files__descr #[span.desktop Перетащите]#[span.mobile Загрузите] не менее 2 документов формата jpeg Размер файла не более 2 мб.
									button.files__btn(type="button") Загрузить
									input.visually-hidden.drop-zone__input(type="file" multiple name="")


							.files
								.files__zone.drop-zone
									.files__title Логотип компании #[br.mobile] (не обязательно)
									.files__descr #[span.desktop Перетащите]#[span.mobile Загрузите] не менее 2 документов формата jpeg Размер файла не более 2 мб.
									button.files__btn(type="button") Загрузить
									input.visually-hidden.drop-zone__input(type="file" multiple name="")

							label.form__item
								span.form__icon
									include pug/svg/lock.svg
								input.input.required(type="text")
								span.placeholder Введите пароль

							label.form__item
								span.form__icon
									include pug/svg/lock.svg
								input.input.required(type="text")
								span.placeholder Повторите пароль

							.form__checkbox
								label
									input.visually-hidden(type="checkbox" name="")
									span.checkbox
									span.checkbox_text Выражаю #[span согласие] на обработку моих персональных данных в соответствии с Политикой обработки персональных данных

							.form__checkbox
								label
									input.visually-hidden(type="checkbox" name="")
									span.checkbox
									span.checkbox_text Выражаю #[span согласие] на получение рекламной рассылки и обработку моих персональных данных в соответствии с Политикой обработки персональных данных

							.form__bottom
								button.btn(type="submit") Зарегистрироваться
								.form__link.desktop
									span Уже есть аккаунт?
									a(href="./login.html")
										|  /
										span.underline  войти

							.form__agreement
								span Нажимая кнопку зарегистрироваться, вы принимаете условия
								a.underline(href="#") пользовательского соглашения

							.form__link.mobile
								span Уже есть аккаунт?
								a(href="./login.html")
									|  /
									span.underline  войти

					.switcher__content

						form.form.form_login.form_validation
							label.form__item
								span.form__icon
									include pug/svg/phone.svg
								input.input.required(type="tel")
								span.placeholder Номер телефона

							label.form__item
								span.form__icon
									include pug/svg/email.svg
								input.input.required(type="email")
								span.placeholder E-mail

							label.form__item
								span.form__icon
									include pug/svg/profile_input.svg
								input.input.required(type="text")
								span.placeholder Фамилия, Имя, Отчество

							label.form__item
								span.form__icon
									include pug/svg/company.svg
								input.input.required(type="text")
								span.placeholder Компания

							label.form__item
								span.form__icon
									include pug/svg/document-text.svg
								input.input.required(type="text")
								span.placeholder ОКВЭД

							label.form__item
								span.form__icon
									include pug/svg/document-text.svg
								input.input.required(type="text")
								span.placeholder ИНН

							label.form__item
								span.form__icon
									include pug/svg/document-text.svg
								input.input.required(type="text")
								span.placeholder ОКПД2

							.form__item
								span.form__icon
									include pug/svg/position.svg
								select(name="")
									option Должность
									option Должность 2
									option Должность 3

							.form__item
								select(name="")
									option Отдел
									option Отдел 2
									option Отдел 3

							.form__item
								select(name="")
									option Категории товаров
									option Категории товаров 2
									option Категории товаров 3

							.files
								.files__zone.drop-zone
									.files__title Ваша фотография
									.files__descr #[span.desktop Перетащите]#[span.mobile Загрузите] не менее 2 документов формата jpeg Размер файла не более 2 мб.
									button.files__btn(type="button") Загрузить
									input.visually-hidden.drop-zone__input(type="file" multiple name="")


							.files
								.files__zone.drop-zone
									.files__title Логотип компании #[br.mobile] (не обязательно)
									.files__descr #[span.desktop Перетащите]#[span.mobile Загрузите] не менее 2 документов формата jpeg Размер файла не более 2 мб.
									button.files__btn(type="button") Загрузить
									input.visually-hidden.drop-zone__input(type="file" multiple name="")

							label.form__item
								span.form__icon
									include pug/svg/lock.svg
								input.input.required(type="text")
								span.placeholder Введите пароль

							label.form__item
								span.form__icon
									include pug/svg/lock.svg
								input.input.required(type="text")
								span.placeholder Повторите пароль

							.form__checkbox
								label
									input.visually-hidden(type="checkbox" name="")
									span.checkbox
									span.checkbox_text Выражаю #[span согласие] на обработку моих персональных данных в соответствии с Политикой обработки персональных данных

							.form__checkbox
								label
									input.visually-hidden(type="checkbox" name="")
									span.checkbox
									span.checkbox_text Выражаю согласие с положениями #[span Договора публичной оферты] и принимаю их

							.form__checkbox
								label
									input.visually-hidden(type="checkbox" name="")
									span.checkbox
									span.checkbox_text Выражаю #[span согласие] на получение рекламной рассылки и обработку моих персональных данных в соответствии с Политикой обработки персональных данных

							.form__bottom
								button.btn(type="submit") Зарегистрироваться
								.form__link.desktop
									span Уже есть аккаунт?
									a(href="./login.html")
										|  /
										span.underline  войти

							.form__agreement
								span Нажимая кнопку зарегистрироваться, вы принимаете условия
								a.underline(href="#") пользовательского соглашения

							.form__link.mobile
								span Уже есть аккаунт?
								a(href="./login.html")
									|  /
									span.underline  войти

	include pug/components/footer
