extends pug/base

prepend vars
	//-
	- title = "Поставщики"

append vars
	//-

block content
	include pug/components/header
	main
		section.section.switcher.vendors.section_filter
			.container
				.section__title Поставщики

				.filter
					.switcher__control
						button.btn.switcher__btn.active(type="button") Материалы
						button.btn.switcher__btn(type="button") Оборудование

					.filter__inner.filter__top
						.section__subtitle Представлено 457 категорий
						a.underline(href="#") Выгрузить список в excel

					.filter__inner.filter__bottom
						form.search
							.search__filter
								select(name="search1")
									option(value="0" selected) По отраслям
									option(value="1") По отраслям 1
									option(value="2") По отраслям 2
									option(value="3") По отраслям 3

							.search__filter
								select(name="search2")
									option(value="0" selected) По функциям
									option(value="1") По функциям 1
									option(value="2") По функциям 2
									option(value="3") По функциям 3

							.search__filter
								select(name="search2")
									option(value="0" selected) Сортировать список
									option(value="1") Сортировать список 1
									option(value="2") Сортировать список 2
									option(value="3") Сортировать список 3

							.search__inner
								label
									include ./pug/svg/search_grey.svg
									input(type="text" placeholder="Название ингредиента")
								button(type="submit")
									include ./pug/svg/arrow.svg

						.filter__inner.filter__control
							button.icon(type="button")
								include ./pug/svg/view-square.svg
							button.icon(type="button")
								include ./pug/svg/share.svg

				.switcher__container
					.switcher__content
						.swiper_shadow
							.swiper_grid_container
								.swiper.swiper_grid

									.swiper-wrapper

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов-fed
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов-fed
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов-fed
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов-fed
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

									.swiper_control
										.swiper-button-prev
										.swiper-button-next
										.swiper-pagination


					.switcher__content.switcher__content_hide
								.swiper_shadow
									.swiper_grid_container
										.swiper.swiper_grid

											.swiper-wrapper

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Милорада
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor1.png" alt="Милорада")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title HItema
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor2.jpg" alt="HItema")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Nanophase
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor3.jpg" alt="Nanophase")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Bio
															.vendor__subtitle 100 продуктов-fed
															.vendor__img
																img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Bio
															.vendor__subtitle 100 продуктов-fed
															.vendor__img
																img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Nanophase
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor3.jpg" alt="Nanophase")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title HItema
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor2.jpg" alt="HItema")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Милорада
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor1.png" alt="Милорада")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Милорада
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor1.png" alt="Милорада")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title HItema
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor2.jpg" alt="HItema")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Nanophase
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor3.jpg" alt="Nanophase")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Bio
															.vendor__subtitle 100 продуктов-fed
															.vendor__img
																img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Bio
															.vendor__subtitle 100 продуктов-fed
															.vendor__img
																img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Nanophase
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor3.jpg" alt="Nanophase")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title HItema
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor2.jpg" alt="HItema")

												.swiper-slide
													.slide
														a.vendor.gradient_border(href="#")
															.vendor__title Милорада
															.vendor__subtitle 100 продуктов
															.vendor__img
																img(src="images/vendors/vendor1.png" alt="Милорада")

											.swiper_control
												.swiper-button-prev
												.swiper-button-next
												.swiper-pagination