extends pug/base

prepend vars
	//-
	- title = "Поставщики"

append vars
	//-

block content
	include pug/components/header
	main
		section.section.switcher.vendors.section_filter
			.lines
				img(src="images/lines.svg" alt="lines.svg")
			.container
				.section__title Поставщики

				.filter
					.switcher__control
						button.btn.switcher__btn.active(type="button") Материалы
						button.btn.switcher__btn(type="button") Оборудование

					.filter__inner.filter__top
						.section__subtitle Представлено 457 категорий
						a.underline(href="#") Выгрузить список в excel

					.filter__inner.filter__bottom
						form.search
							.search__filter
								select(name="search1")
									option(value="0" selected) По отраслям
									option(value="1") По отраслям 1
									option(value="2") По отраслям 2
									option(value="3") По отраслям 3

							.search__filter
								select(name="search2")
									option(value="0" selected) По функциям
									option(value="1") По функциям 1
									option(value="2") По функциям 2
									option(value="3") По функциям 3

							.search__filter
								select(name="search2")
									option(value="0" selected) Сортировать список
									option(value="1") Сортировать список 1
									option(value="2") Сортировать список 2
									option(value="3") Сортировать список 3

							.search__inner
								label
									include ./pug/svg/search_grey.svg
									input(type="text" placeholder="Название ингредиента")
								button(type="submit")
									include ./pug/svg/arrow.svg

						.filter__inner.filter__control
							button.displaying.displaying_tiles.icon(type="button")
								.icon__tiles
									include ./pug/svg/view-square.svg
								.icon__list
									include ./pug/svg/view-list.svg
							.dropdown
								button.dropdown_btn.icon(type="button")
									include ./pug/svg/share.svg
								.dropdown_list
									a(href="#")
										.svg
											include ./pug/svg/whatsapp.svg
										| What’s up
									a(href="#")
										.svg
											include ./pug/svg/telegram.svg
										| Telegram
									a(href="#")
										.svg
											include ./pug/svg/linkedin.svg
										| Linked in



				.column_names
					.column_name.column_name_company Компания
					.column_name.column_name_manufactures Производит товары
					.column_name.column_name_categories Категории
					.column_name.column_name_areas Области


				.switcher__container
					.switcher__content.active
						.swiper_shadow
							.swiper_grid_container
								.swiper.swiper_grid

									.swiper-wrapper

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

									.swiper_control
										.swiper-button-prev
										.swiper-button-next
										.swiper-pagination


					.switcher__content
						.swiper_shadow
							.swiper_grid_container
								.swiper.swiper_grid

									.swiper-wrapper

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Милорада 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor1.png" alt="Милорада")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title HItema 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor2.jpg" alt="HItema")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Nanophase 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor3.jpg" alt="Nanophase")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

										.swiper-slide
											.slide
												a.vendor.gradient_border(href="#")
													.vendor__title Bio 2
													.vendor__subtitle 100 продуктов
													.vendor__img
														img(src="images/vendors/vendor4.jpg" alt="Bio-fed")

													.list_view.column_name.column_name_manufactures Хлеб, Молоко, Соль, Сахар, Добавки пищевые, Концентраты, эмульгаторы...
													.list_view.column_name.column_name_categories Сельское хозяйство, Сельское хозяйство, Сельское хозяйство, Сельское хозяйство
													.list_view.column_name.column_name_areas Животноводство, Молочные продукты, Животноводство, Молочные продукты

													.list_view.underline Cмотреть

									.swiper_control
										.swiper-button-prev
										.swiper-button-next
										.swiper-pagination





	include pug/components/footer