// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";


.logo {
	flex-shrink: 0;
	width: 195rem;
	height: 50rem;
}

.localizer {
	font-size: 20rem;
}

button {
	border: none;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 14rem 32rem;
	font-size: 16rem;
	font-weight: 700;
	background: #201702;
	box-shadow: 5rem 5rem 25rem rgba(153, 173, 187, 0.1);
	border-radius: 5rem;
	color: #FBFBFB;
	transition: 300ms;
	white-space: nowrap;

	svg {
		max-width: 24rem;
		max-height: 24rem;
		margin-left: 24rem;
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 52rem;
	height: 52rem;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 5rem 5rem 25rem rgba(153, 173, 187, 0.1);
	border-radius: 5rem;

	svg {
		display: block;
		width: 24rem;
	}
}

.section {
	padding: 100rem 0;

	&__top {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 185rem;
		z-index: 2;

	}

	&__title {
		font-weight: 700;
		font-size: 55rem;
		line-height: 62rem;
		color: #181818;
	}
}

@import "components/header";
@import "components/footer";
@import "components/nice-select";
@import "components/banner";
@import "components/materials";
@import "components/switcher";
@import "components/tiles";
@import "components/swiper";
@import "components/solutions";
@import "components/vendors";
@import "components/help";